{% extends 'backoffice/base.html.twig' %}

{% block title %}Nouvelle intervention{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-tabs">
            <ul id="tabs" class="border-bottom">
                <li><a href="#"><i class="ri-computer-line"></i> Informations générales</a></li>
                <li><a href="#" class="selected">Détails de l'intervention</a></li>
            </ul>
            <div class="p-4">
                {{ form.renderStart | raw }}
                    <div class="grid-12">
                        <div class="col-6_sm-12">
                            <div class="mb-5">
                                <h3 class="fs-18px fw-500">Intervention au nom de <strong class="text-blue" id="customer_name">{{ c.fullname }}</strong></h3>
                                <p class="m-0">Veuillez remplir les champs ci-dessous.</p>
                            </div>
                            {% if config.price_time != 0 %}
                                <div class="card-inside inside-danger-border mb-4">
                                    <div class="card-body p-3">
                                        <div class="grid-12 -noGutter">
                                            <div class="col-6_sm-12">
                                                <div class="form-group">
                                                    <label class="form-label" for="login_id">Tarif horaire fixé à</label>
                                                    <div class="input-icon input-danger icon-left br-8 p-relative">
                                                        <span class="icon"><i class="ri-money-euro-circle-fill fs-17px"></i></span>
                                                        <div class="form-input underlined pl-8 flex align-items-center"><span>{{ config.price_time }}</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6_sm-12">
                                                <div class="form-group ml-4">
                                                    <label class="form-label" for="login_id">Temps consacré</label>
                                                    <div>
                                                        <label>
                                                            <input type="radio" name="form_intervention_2time[total_time]" value="1">
                                                            1 Heure
                                                        </label>
                                                        <label>
                                                            <input type="radio" name="form_intervention_2time[total_time]" value="2">
                                                            2 Heures
                                                        </label>
                                                        <label>
                                                            <input type="radio" name="form_intervention_2time[total_time]" value="3">
                                                            3 Heures
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="grid-12">
                                <div class="col-6_sm-12">
                                    {% if session.equipments_id is null %}
                                        {% if session.nb_equipments == 0 %}
                                            <div class="mb-6">
                                                <span class="d-block mb-1">Ce client n'a pas d'équipement</span>
                                                <button type="button" data-target="add_equipment" data-toggle="modal" class="btn-sm btn-light-info"><i class="ri-add-circle-line"></i> Créer un équipement</button>
                                            </div>
                                        {% else %}
                                            {{ form.renderField('equipments_id') | raw }}
                                            {{ form.renderField('equipment_name') | raw }}
                                        {% endif %}
                                    {% else %}
                                        <div class="form-group">
                                            <label class="form-label" for="customer">Equipement selectionné</label>
                                            <div class="form-input all-border-purple">
                                                <input type="hidden" name="form_intervention_2time[equipment_name]" value="{{ e.name }}">
                                                <div id="equipment" class="h100 flex align-items-center text-purple-light" style="">{{ e.name }}</div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {{ form.renderField('deposit_date') | raw }}
                                    {{ form.renderField('way_type') | raw }}
                                    {{ form.renderField('way_steps') | raw }}
                                </div>
                                <div class="col-6_sm-12">
                                    {{ form.renderField('description') | raw }}
                                    {{ form.renderField('before_breakdown') | raw }}
                                </div>
                            </div>
                        </div>
                        <div class="col-6_sm-12">
                            {{ form.renderField('observation') | raw }}
                            {{ form.renderField('note_technician') | raw }}
                        </div>
                    </div>
                    <div class="text-right">
                        <div class="hidden">
                            {{ form.renderField('customer_name') | raw }}
                        </div>
                    </div>
                    <div class="grid-12 -noGutter">
                        <div class="col-6_sm-12">
                            <a href="{{ url_for('intervention_create_index') }}" title="Annuler la soumission" class="btn btn-light-pink">Annuler</a>
                        </div>
                        <div class="col-6_sm-12 text-right">
                            <button type="submit" class="btn btn-light-purple"><i class="ri-checkbox-circle-line"></i> Terminer</button>
                        </div>
                    </div>
                {{ form.renderEnd(false) | raw }}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {% if session.equipments_id is null %}
        <script type="text/javascript">
            let select = document.querySelector('select#form_intervention_2time-equipments_id')
            let customer = document.getElementById('customer_name')
            let input = document.getElementById('form_intervention_2time-equipment_name')
            let inputCustomer = document.getElementById('form_intervention_2time-customer_name');
            select.addEventListener('change', function (e) {
                input.value = select.options[select.selectedIndex].text;
            })
            inputCustomer.value = customer.innerText;
        </script>
    {% endif %}
{% endblock %}