{% extends 'backoffice/base.html.twig' %}

{% block title %}Nouvelle intervention{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header border-bottom-dashed">
            <h3>Nouvelle intervention</h3>
            <span>Veuillez renseigner les détails principaux de l'intervention</span>
        </div>
        <div class="card-body">
            <div class="grid-12">
                <div class="col-3_sm-12 border-right-dashed">
                    {{ include('backoffice/intervention/create/_navigation.html.twig', {currentMenu:'step1'}) }}
                </div>
                <div class="col-9_sm-12">
                    <div class="pl-4 pr-4">
                        {{ form.renderStart | raw }}
                        <div class="grid-12">
                            <div class="col-6_sm-12">
                                {{ form.renderField('name') | raw }}
                                {{ form.renderField('sort') | raw }}
                                {{ form.renderField('description') | raw }}
                                {{ form.renderField('before_breakdown') | raw }}

                            </div>
                            <div class="col-6_sm-12">
                                {% if auth.roles != "SUPER_ADMIN" %}
                                    <input type="hidden" value="{{ auth.company_id }}" name="form_intervention[company_id]">
                                {% else %}
                                    {{ form.renderField('company_id') | raw }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="absolute-button">
                            <button type="submit" class="btn btn-light-four"><i class="ri-checkbox-circle-line"></i> Suivant</button>
                        </div>
                        {{ form.renderEnd(false) | raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}