{% extends 'frontoffice/portal.html.twig' %}

{% block title %}Mes interventions{% endblock %}

{% block body %}
    <div class="grid">
        <div class="col-7_sm-12">
            <div class="pt-5 pb-5">
                <h3 class="fs-28px fw-600 txt-veryhard mb-0">Liste des interventions</h3>
                <p class="fs-18px fw-300 mt-0">Vous avez actuellement <strong>{{ i | length }}</strong> intervention(s) d'enregistrées.</p>
                <div class="card all-border table-radius">
                    <div class="card-title p-4">
                        <h3 class="mb-0">Mes interventions</h3>
                        <span>Toutes vos interventions sont listées ici</span>
                    </div>
                    <div class="card-table">
                        <table class="table-default">
                            <thead>
                            <tr>
                                <th>Référence</th>
                                <th>Date</th>
                                <th>Dénomination</th>
                                <th>Type</th>
                                <th>Statut</th>
                                <th>Etat</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in i %}
                                <tr>
                                    <td>{{ item.ref_number }}</td>
                                    <td>{{ item.created_at | date('d/m/Y') }}</td>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.sort }}</td>
                                    <td>{{ item.way_type }}</td>
                                    <td>
                                        {% if item.state == 'DRAFT' %}
                                            <span class="label-mid badge-light-yellow">{{ item.state }}</span>
                                        {% elseif item.state == 'VALIDATED' %}
                                            <span class="label-mid badge-light-green">{{ item.state }}</span>
                                        {% elseif item.state == 'COMPLETED' %}
                                            <span class="label-mid badge-light-green">{{ item.state }}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{{ url_for('portal_intervention_read', {ref_number : item.ref_number}) }}" class="btn-sm btn-light-purple">Suivi</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
