{% extends 'backoffice/base.html.twig' %}

{% block title %}Marques{% endblock %}

{% block body %}

    <div class="grid">
        <div class="col-2_sm-12">
            {{ include('backoffice/settings/_includes/_navigation.html.twig') }}
        </div>
        <div class="col-10_sm-12">
            <div class="card">
                <div class="card-body p-4">
                    <div class="card-header mb-4">
                        <div class="grid-2 -noGutter">
                            <div class="col-6_sm-12">
                                <h2>Marques</h2>
                                <span>Ajouter ou supprimer des marques</span>
                            </div>
                            <div class="col-6_sm-12 text-right">
                                <button type="button" data-target="add_os" data-toggle="modal" class="btn btn-light-primary"><i class="ri-add-line"></i> Ajouter une marque</button>
                            </div>
                        </div>
                    </div>
                    {% if brands is not empty %}
                        <div class="boxed-shadow p-relative br-5">
                            <table class="table-radius table-shadow overflow-hidden" id="table-visible">
                                <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>URL Logo</th>
                                    <th>Slug</th>
                                    <th class="text-right">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for b in brands %}
                                    <tr>
                                        <td>{{ b.name }}</td>
                                        <td>{{ b.logo_link }}</td>
                                        <td>{{ b.slug }}</td>
                                        <td class="p-relative">
                                            <div class="admin-tools">
                                                <span class="d-block text-right">
                                                <button class="btn-sm btn-nothing toggle" type="button"><i class="ri-more-fill"></i></button>
                                                </span>
                                                <div class="table-submenu" id="menu-tools{{ b.id }}">
                                                    <button type="button" data-target="update_brand-{{ b.id }}" data-toggle="modal"><i class="ri-pencil-line"></i> Modifier</button>
                                                    <form action="{{ url_for('settings_brand_delete') }}" method="post">
                                                        <input type="hidden" name="_METHOD" value="DELETE"/>
                                                        <input type="hidden" name="id" value="{{ b.id }}">
                                                        <button type="submit" class="delete-confirm"><i class="ri-delete-bin-2-line"></i> Supprimer</button>
                                                    </form>
                                                </div>
                                            </div>
                                            <!-- EDIT -->
                                            <div class="modal" id="update_brand-{{ b.id }}">
                                                <div class="modal-container p-5">
                                                    <div class="modal-header text-right">
                                                        <button data-dismiss="modal" class="modal__close"><i class="ri-close-line" aria-hidden="true"></i></button>
                                                    </div>
                                                    <form method="post" action="{{ url_for('settings_brand_update') }}?id={{ b.id }}" enctype="multipart/form-data">
                                                        <div class="modal-content">
                                                            <div class="mb-4"><h1>Modification</h1></div>
                                                            <div>
                                                                <img src="/uploads/brands/{{ b.logo_file }}" alt="">
                                                            </div>
                                                            <div class="grid-2 mt-5">
                                                                <div class="col">
                                                                    <div class="form-group mb-3 is-required">
                                                                        <label class="form-label" for="name">Nom
                                                                            <abbr title="Required Field">*</abbr></label>
                                                                        <input class="palmtree-form-control form-control" type="text" id="name" value="{{ b.name }}" name="name" placeholder="Entrez un nom de marque" required="">
                                                                    </div>
                                                                </div>
                                                                <div class="col">
                                                                    <div class="form-group mb-3">
                                                                        <label class="form-label" for="logo_link">Lien externe (logo)</label>
                                                                        <input class="palmtree-form-control form-control" type="text" id="logo_link" value="{{ b.logo_link }}" name="logo_link" placeholder="Entrez une URL complète">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="logo_file" class="form-label">Charger un logo</label>
                                                                        <input type="file" id="logo_file" tabindex="-1" name="form_brand[logo_file]" accept="image/">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <input type="hidden" value="{{ b.id }}" name="id">
                                                            <button type="submit" class="btn btn-light-purple">Sauvegarder</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="text-center p-4 boxed-shadow">
                            <span>
                                <i class="fs-80px ri-server-line"></i>
                            </span>
                            <h3>Aucune marque</h3>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- ADD -->
    <div class="modal" id="add_os">
        <div class="modal-container p-5">
            {{ form.renderStart | raw }}
                <div class="modal-header text-right">
                    <button type="button" data-dismiss="modal" class="modal__close"><i class="ri-close-line" aria-hidden="true"></i></button>
                </div>
                <div class="modal-content">
                    <div class="mb-4"><h1>Nouvelle marque</h1></div>
                    Création d'une nouvelle marque
                    <div class="grid-2 mt-5">
                        <div class="col">
                            {{ form.renderField('name') | raw }}
                        </div>
                        <div class="col">
                            {{ form.renderField('logo_link') | raw }}
                            {{ form.renderField('logo_file') | raw }}
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-light-purple">Créer</button>
                </div>
            {{ form.renderEnd(false) | raw }}
        </div>
    </div>
{% endblock %}
