{% extends "backoffice/base.html.twig" %}

{% block title %}Administrateurs et Technicien(e)s{% endblock %}

{% block body %}
    {% if users is not empty %}
        <div class="grid-12">
            {% for u in users %}
                <div class="col-3_sm-12">
                    <a class="color-inherit p-relative" href="{{ url_for('user_read', {'id':u.id}) }}">
                        <div class="card ">
                            <div class="card-body p-4">
                                <div class="flex align-items-center">
                                    <div class="mr-3">
                                        <span><i class="fs-32px ri-user-2-fill"></i></span>
                                    </div>
                                    <div>
                                        <h4>{{ u.fullname }}</h4>
                                        <h3>{{ u.name }}</h3>
                                        <p class="m-0">
                                    <span class="d-block">
                                        Pseudo : {{ u.pseudo }}
                                    </span>
                                            <span class="d-block">
                                        Rôle : {{ getRoles(u.roles) }}
                                    </span>
                                            <span class="d-block">
                                        Courriel : <strong>{{ u.mail }}</strong>
                                    </span>
                                            <span class="d-block">
                                        Ajouté le : {{ u.created_at | date('d/m/Y') }}
                                    </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="text-center">
        <span>
            <i class="fs-80px ri-user-add-line"></i>
        </span>
            <h3>Aucun utilisateur</h3>
            Ajoutez des utilisateurs et retrouvez-les ici
            <div class="mt-3">
                <a href="" class="btn btn-light-purple"><i class="ri-add-line"></i> Nouvel utilisateur</a>
            </div>
        </div>
    {% endif %}
{% endblock %}