<!DOCTYPE html>
<html lang="en" data-sidebar-width="lg" data-sidebar-mobile="inactive" data-layout-mode="light">
<head>
    <meta name="robots" content="noindex, nofollow">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- START::GridLex Local -->
    <link rel="stylesheet" href="/assets/frameworks/gridlex/gridlex.min.css">
    <!-- START::REMIXICON -->
    <link href="/assets/fonts/remixIcon/remixicon.css" rel="stylesheet">
    <!-- SimpleBar
    <link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css"/>
     -->
    <!-- START::CSS App -->
    <link rel="stylesheet" href="/assets/stylesheets/app.css">
    <link rel="stylesheet" href="/assets/stylesheets/utilities.css">
    <!-- START::Print -->
    <link rel="stylesheet" href="/assets/stylesheets/print.css" type="text/css" media="print">
    {% block stylesheets %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="portal-body">
{{ include('_session_flash.html.twig') }}
<div class="portal-tools p-absolute">
    <div class="pt-app-brand">
        <a href="#" class="link-logo">
            <img src="/img/logos/logo_proaxive.png" class="img-logo light-logo" alt="Proaxive">
        </a>
    </div>
    <div class="pt-app-elements">
        <div class="pt-tools-menu">
            <ul>
                <li class="pt-menu-item"><a href="#" title="Rendez-vous"><i class="ri-calendar-todo-fill"></i></a></li>
                <li class="pt-menu-item"><a href="#"></a></li>
                <li class="pt-menu-item"><a href="#"></a></li>
                <li class="pt-menu-item"><a href="#"></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="portal-main body-background mh-fullvh">
    <div class="border-bottom">
        <div class="p-relative t-0 r-0 l-0 bg-foreground">
            <div class="p-3 pl-5 pr-5">
                <div class="flex align-center justify-content-space-between">
                    <div class="flex align-items-center">
                        <a class="flex align-items-center pr-3 text-foreground" href="/">
                            <span class="fw-500 fs-22px">Proaxive</span>
                            <span class="inline-block pl-2">Espace client</span>
                        </a>
                        <ul class="pm-navigation">
                            <li><a href="{{ url_for('portal_home') }}"><i class="ri-home-2-fill"></i> Accueil</a></li>
                            <li><a href="{{ url_for('portal_interventions') }}"><i class="ri-list-check-2"></i> Interventions</a></li>
                            <li><a href="#"><i class="ri-service-line"></i> Débours</a></li>
                            <li><a href="{{ url_for('portal_parameters') }}"><i class="ri-settings-4-fill"></i> Paramètres</a></li>
                        </ul>
                    </div>
                    <div class="flex">
                        <ul class="ct-tools-nav flex align-items-center">
                            <li class="dropdown">
                                <a href="#" id="nav_account" class="flex align-items-center p-relative text-foreground nav-link-special dropdown-nav">
                                    <div class="mr-2 text-right">
                                        <span class="fw-600">{{ getSession.get('customer').login_id }}</span>
                                        <span class="d-block fs-10px">{{ getSession.get('customer').mail }}</span></div>
                                    <i class="ri-user-fill"></i>
                                </a>
                                <div class="menu-dropdown" style="display: none;">
                                    <div class="dropdown-inner dropdown-header">
                                        <div class="card-user d-flex align-items-center">
                                            <div class="user-avatar"></div>
                                            <div class="user-infos">
                                                <span class="lead-txt">John Doe</span>
                                                <span class="sub-txt">johndoe@mail.org</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dropdown-inner">
                                        <ul class="dropdown-list">
                                            <li>
                                                <a class="dropdown-item txt-hard" href="#!">
                                                    <span class="icon material-icons">person</span>
                                                    <span class="dropdown-item-title">Voir mon compte</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item txt-hard" href="#!">
                                                    <span class="icon material-icons">settings</span>
                                                    <span class="dropdown-item-title">Paramètres</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="dropdown-inner">
                                        <ul class="dropdown-list">
                                            <li>
                                                <a class="dropdown-item txt-hard" href="#">
                                                    <span class="icon material-icons">logout</span>
                                                    <span class="dropdown-item-title">Déconnexion</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        {% block body %}{% endblock %}
    </div>
</div>
{% block javascripts %}{% endblock %}
</body>
</html>