<!DOCTYPE html>
<html lang="en" data-sidebar-width="lg" data-sidebar-mobile="inactive" data-layout-mode="light">
<head>
    <meta name="robots" content="noindex, nofollow">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- START::GridLex Local -->
    <link rel="stylesheet" href="{{ asset('assets/frameworks/gridlex/gridlex.min.css') }}">
    <!-- START::REMIXICON -->
    <link href="{{ asset('assets/fonts/remixIcon/remixicon.css') }}" rel="stylesheet">
    <!-- SimpleBar
    <link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css"/>
     -->
    <!-- START::CSS App -->
    <link rel="stylesheet" href="{{ asset('assets/stylesheets/app.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/stylesheets/utilities.css') }}">
    <!-- START::Print -->
    <link rel="stylesheet" href="{{ asset('assets/stylesheets/print.css') }}" type="text/css" media="print">
    {% block stylesheets %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="portal-body">
{{ include('_session_flash.html.twig') }}
<div class="portal-tools p-absolute">
    <div class="pt-app-brand">
        <a href="#" class="link-logo">
            <img src="{{ asset('img/logos/logo_proaxive2_white.png') }}" class="img-logo light-logo" alt="Proaxive">
        </a>
    </div>
    <div class="pt-app-elements">
        <div class="pt-tools-menu">
            <ul>
                <li class="pt-menu-item"><a href="#" title="Rendez-vous"><i class="ri-calendar-todo-fill"></i></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="portal-main body-background mh-fullvh">
    <div class="portal-topbar-wrapper">
        <div class="portal-topbar-content">
            <div class="topbar__title">
                <a href="" class="flex align-items-center">
                    <span class="fw-500 fs-22px">Ma super boite</span>
                    <span class="inline-block pl-2">Espace client</span>
                </a>
            </div>
            <ul class="pm-navigation">
                <li><a href="{{ url_for('portal_home') }}"><i class="ri-home-2-fill"></i> Accueil</a></li>
                <li><a href="{{ url_for('portal_interventions') }}"><i class="ri-list-check-2"></i> Interventions</a></li>
                <li><a href="{{ url_for('portal_documents') }}"><i class="ri-file-list-3-fill"></i> Documents</a></li>
                <li><a href="#"><i class="ri-service-line"></i> Débours</a></li>
                <li><a href="{{ url_for('portal_parameters') }}"><i class="ri-settings-4-fill"></i> Paramètres</a></li>
            </ul>
            <span class="user-btn-mobile flex-root text-right">
                   <button type="button" id="user-btn-mobile"><i class="ri-shield-user-fill"></i></button>
            </span>
        </div>
    </div>
    <!-- start: Aside Tools User -->
    <div class="aside-tools-user" id="user-aside">
        <div id="nav_account" class="text-foreground aside-header-tools-user">
            <div class="atu__userId text-left">
                <i class="ri-user-fill"></i>
                <div class="ml-2">
                    <span class="fw-600">{{ getSession.get('customer').login_id }}</span>
                    <span class="d-block fs-10px">{{ getSession.get('customer').mail }}</span>
                </div>
            </div>
        </div>
        <ul class="aside-nav-tools-user">
            <li>
                <a class="nav-tools-user-link" href="{{ url_for('portal_parameters') }}">
                    <span class="nav-tools-user-icon"><i class="ri-user-fill"></i></span>
                    <span class="nav-tools-user-title">Voir mon compte</span>
                </a>
            </li>
            <li>
                <a class="nav-tools-user-link" href="{{ url_for('portal_parameters') }}">
                    <span class="nav-tools-user-icon"><i class="ri-settings-fill"></i></span>
                    <span class="nav-tools-user-title">Paramètres</span>
                </a>
            </li>
            <li>
                <a class="nav-tools-user-link user-link-logout" href="{{ url_for('portal_logout') }}">
                    <span class="nav-tools-user-icon"><i class="ri-login-circle-fill"></i></span>
                    <span class="nav-tools-user-title">Déconnexion</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- end: Aside Tools User -->
    <!-- start: content -->
    <div class="container-fluid">
        {% block body %}{% endblock %}
    </div>
    <!-- start: content -->
</div>
<script src="{{ asset('assets/js/portal.js') }}" defer></script>
{% block javascripts %}{% endblock %}
</body>
</html>