{% extends 'frontoffice/base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}
    <div class="body-background mh-fullvh">
        <div class="container">
            <div class="flex justify-content-center">
                <div class="login-container">
                    <div class="text-center mt-6">
                        <img style="height: 100px;width: auto" src="{{ get_env('PATH_PUBLIC') }}/img/logos/logo_proaxive2.png" alt="">
                    </div>
                    <div class="card card-shadow mt-3">
                        <div class="card-body text-center p-4">
                            <div class="text-center">
                                <h1>Nouveau mot de passe</h1>
                                <span>Merci de renseigner votre nouveau mot de passe.</span>
                            </div>
                            <div class="login-form-horizontal input-with-icon mt-4">
                                {{ form.renderStart | raw }}
                                {{ form.renderField('password') | raw }}
                                {{ form.renderField('password_2') | raw }}
                                    <div class="mb-2 text-center">
                                        <button type="submit" class="btn-sk-one btn-lg rd-10">Valider</button>
                                    </div>
                                {{ form.renderEnd(false) | raw }}
                            </div>
                            <div class="text-center border-top-dashed pt-3 mt-3">
                                <a href="{{ url_for('auth_user_login') }}" class="btn-sm btn-light-four btn-rounded nomg">Retour à la connexion ?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}