<div class="card mb-3 all-border-pink">
    <div class="p-4">
        <span class="d-block fw-500 mb-3">Etat de l'intervention</span>
        <div class="grid-12">
            <div class="col-3_sm-12">
                <strong class="d-block">Priorité</strong>
                {{ getDataPriority(i.a_priority) }}
            </div>
            <div class="col-6_sm-12">
                <strong class="d-block">Etat</strong>
                {{ getDataState(i.state) }}
            </div>
        </div>
        <div class="">
            <div class="step-title mb-3">
                <span class="current text-one fw-500 fs-16px text-uppercase">{{ getDataWaySteps(i.way_steps) }}</span>
                <span class="d-block fs-13px"><i class="fa-regular fa-clock"></i> {{ i.updated_at | date('d/m/Y') }}</span>
            </div>
            <div class="icon-step">
                {% if i.way_steps <= 4 %}
                <form method="post" action="" id="next-step">
                    {% if i.way_steps == 3 and i.diag_cpu is null %}
                        <div class="alert alert-warning">
                            Veuillez remplir le diag avant de poursuivre
                        </div>
                    {% endif %}
                    <button type="button" onclick="ajaxUpdateDataUrl('{{ url_for('ajax_intervention_next_step', {'id' : intervention_id}) }}', 'next-step'); return false;" class="btn btn-sk-one rd-10 w100">{{ getDataWayStepsNext(i.way_steps) }} <i class="fa-solid fa-circle-arrow-right"></i></button>
                    <span id="sync-start"></span>
                </form>
                {% if i.way_steps == 4 and i.pull_date is null %}
                   <button type="button" data-target="exit_date" data-toggle="modal" class="btn btn-sk-tree rd-10 w100">Programmer une sortie <i class="fa-solid fa-circle-arrow-right"></i></button>
                {% endif %}
                {% endif %}
            </div>
        </div>
        {% if i.way_steps == 4 and i.pull_date is null %}
            <div class="mt-2">Si vous le souhaitez, vous pouvez programmer une date de retait ou de livraison.</div>
            {{ include('backoffice/intervention/_modal/_add_exit_date.html.twig') }}
        {% endif %}
    </div>
</div>