{% extends 'backoffice/base.html.twig' %}

{% block title %}Compte client - {{ customer.fullname }}{% endblock %}

{% set nbInterventions = interventions | length %}
{% set nbEquipments = equipments | length %}

{% block body %}
    <div class="profil-home" id="container-map">
        <div class="flex-root">
            <ul id="tabs" class="nav-components">
                <li><a class="selected" href="{{ url_for('customer_read', {'id' : customer.id}) }}"><i class="ri-information-fill"></i> Compte</a></li>
                <li><a href="{{ url_for('customer_update', {'id' : customer.id}) }}"><i class="ri-pencil-fill"></i> Modifier</a></li>
                <li><a href="{{ url_for('customer_update_parameters', {'id' : customer.id}) }}"><i class="ri-settings-line"></i> Paramètres</a></li>
            </ul>
            <div class="card">
                <div class="p-4">
                    <div class="grid-12">
                        <div class="col-4_sm-12">
                            <h3 class="mt-2 fw-500 fs-16px">Statistiques pour {{ customer.fullname }}</h3>
                            <div class="mt-4">
                                <canvas id="myChart" style="position: relative; height:40vh; width:100%"></canvas>
                            </div>
                        </div>
                        <div class="col-8_sm-12">
                            <div class="card-inside all-border flex-root">
                                <div class="p-3">
                                    {% if customer.is_blacklisted is not null %}<label class="label badge-light-pink mr-2">Blacklisté</label>{% endif %}
                                    {% if customer.on_sale is not null %}<label class="label badge-light-green mr-2">Promo -{{ customer.on_sale }}%</label>{% endif %}
                                    <h4 class="d-inline-block fw-500 fs-15px">{{ customer.fullname }}</h4>
                                    <form method="post" action="#" id="sample_form">
                                        <textarea id="form_data" maxlength="200" minlength="8" class="d-block ajax-input mt-3 w100 form_data" placeholder="Note dédiée à ce client" name="about">{{ customer.about }}</textarea>
                                        <div class="flex align-items-center mt-3">
                                            <span id="char_count" class="all-border">200/200</span>
                                            <button type="button" onclick="updateNoteCustomer({{ customer.id }}); return false;" id="submit" class="btn-sm btn-light-four fs-weight">Mettre à jour</button>
                                            <span class="text-purple ml-2" id="message"></span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="mt-4">
                                <div class="grid-12">
                                    <div class="col-6_sm-12">
                                        <div class="item flex align-items-center">
                                            <div class="mr-2">
                                                <div class="item--icon br-8 text-center"><i class="fs-18px ri-mail-send-line text-muted"></i></div>
                                            </div>
                                            <div>
                                                <span class="d-block fw-500">{{ getDataWithLink(customer.mail, url_for('customer_update', {'id' : customer.id})) }}</span>
                                                <span class="text-muted">Adresse courriel</span>
                                            </div>
                                        </div>
                                        <div class="item mt-6 flex align-items-center">
                                            <div class="mr-2">
                                                <div class="item--icon br-8 text-center"><i class="fs-18px ri-profile-line text-muted"></i></div>
                                            </div>
                                            <div>
                                                <span class="d-block fw-500">{{ getDataWithLink(customer.login_id, url_for('customer_update', {'id' : customer.id})) }}</span>
                                                <span class="text-muted">Client ID</span>
                                            </div>
                                        </div>
                                        <div class="item mt-6 flex align-items-center">
                                            <div class="mr-2">
                                                <div class="item--icon br-8 text-center"><i class="fs-18px ri-heart-line text-muted"></i></div>
                                            </div>
                                            <div>
                                                <span class="d-block fw-500">{{ getDataWithLink(customer.favorite_contact, url_for('customer_update', {'id' : customer.id})) }}</span>
                                                <span class="text-muted">Prise de contact préférée</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6_sm-12">
                                        <div class="item flex align-items-center">
                                            <div class="mr-2">
                                                <div class="item--icon br-8 text-center"><i class="fs-18px ri-phone-line text-muted"></i></div>
                                            </div>
                                            <div>
                                                <span class="d-block fw-500">{{ getDataWithLink(customer.phone, url_for('customer_update', {'id' : customer.id})) }}</span>
                                                <span class="text-muted">Téléphone fixe</span>
                                            </div>
                                        </div>
                                        <div class="item mt-6 flex align-items-center">
                                            <div class="mr-2">
                                                <div class="item--icon br-8 text-center"><i class="fs-18px ri-smartphone-line text-muted"></i></div>
                                            </div>
                                            <div>
                                                <span class="d-block fw-500">{{ getDataWithLink(customer.mobile, url_for('customer_update', {'id' : customer.id}))}}</span>
                                                <span class="text-muted">Téléphone mobile</span>
                                            </div>
                                        </div>
                                        {% if customer.is_society is null %}
                                            <div class="item mt-6 flex align-items-center">
                                                <div class="mr-2">
                                                    <div class="item--icon br-8 text-center"><i class="fs-18px ri-dossier-line text-muted"></i></div>
                                                </div>
                                                <div>
                                                    <span class="d-block fw-500">{{ getDataWithLink(customer.profil_type, url_for('customer_update', {'id' : customer.id})) }}</span>
                                                    <span class="text-muted">Profil particulié</span>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="separator separator-default"></div>
                                {% if customer.address %}
                                <div class="item mt-4 flex align-items-center">
                                    <div class="mr-2">
                                        <div class="item--icon br-8 text-center"><i class="fs-18px ri-map-pin-line text-muted"></i></div>
                                    </div>
                                    <div>
                                        <span class="d-block fw-500">{{ customer.address }} - {{ customer.zipcode }}, {{ customer.city }} ({{ customer.department }})</span>
                                        <span class="text-muted">Adresse postale</span>
                                    </div>
                                </div>
                                {% else %}
                                    <div class="alert alert-warning mt-3">
                                        <strong class="d-block">Aucune adresse renseignée</strong>
                                        Veuillez renseigner une adresse postale pour ce client.
                                    </div>
                                {% endif %}
                            </div>
                            {% if customer.addr_longitude is not null and customer.addr_latitude is not null %}
                                <div class="mt-4">
                                    <button type="button" id="btnDeployMap" class="btn btn-light-pink"><i class="ri-map-pin-line"></i> Voir la carte</button>
                                    <a href="https://www.waze.com/live-map/directions?navigate=yes&to=ll.{{ customer.addr_latitude }}%2C{{ customer.addr_longitude }}" target="_blank" class="btn btn-light-four"><i class="ri-roadster-line"></i> Itinéraire Waze</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div id="map"></div>
        </div>
    </div>

    <div class="grid-12 mt-4">
        <!-- Equipments -->
        <div class="col-6_sm-12">
            {% if equipments is empty %}
                <div class="card-inside inside-four-border-dashed text-center">
                    <div class="p-4">
                        <h3>Aucun équipement</h3>
                        Ajoutez des équipements pour <strong>{{ customer.fullname}}</strong> et retrouvez-les ici
                        <div class="mt-3">
                            <button data-target="choice_add_equipment" data-toggle="modal" class="btn btn-light-four"><i class="ri-add-line"></i> Nouvel équipement</button>
                        </div>
                    </div>
                </div>
            {% else%}
                <div class="grid-12 -noGutter">
                    <div class="col-8_sm-12">
                        <h3>Equipements ({{ nbEquipments }})</h3>
                    </div>
                    <div class="col-4_sm-12">
                        <button data-target="choice_add_equipment" data-toggle="modal" class="btn btn-light-four"><i class="ri-add-fill"></i> Créer</button>
                    </div>
                </div>
                <div class="grid-2 mt-3">
                    {% for e in equipments %}
                        <div class="col">
                            <a href="{{ url_for('equipment_read', {id:e.id}) }}" title="Détails de l'équipement" class="card d-block color-inherit {% if e.is_outofservice == false %}all-border-pink{% endif %}">
                                <div class="card-body p-4">
                                    <div class="flex align-items-center">
                                        <div>
                                            <div class="mr-4">
                                            <span class="text-{% if e.is_outofservice == false %}pink{% else %}green{% endif %}">
                                                <i class="fs-32px ri-{% if e.is_outofservice == false %}forbid-2{% else %}thumb-up{% endif %}-fill"></i>
                                            </span>
                                            </div>
                                        </div>
                                        <div>
                                            <h4>{{ e.name }}</h4>
                                            <p class="m-0">
                                                <span class="d-block">
                                                    N°de série : <span class="text-{% if e.is_outofservice == false %}pink{% else %}green{% endif %}">{{ e.e_serial }}</span>
                                                </span>
                                                <span class="d-block">
                                                    Type : {{ e.type_name }}
                                                </span>
                                                <span class="d-block">
                                                    Date : {{ e.created_at | date('d/m/Y') }}
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <!-- Interventions -->
        <div class="col-6_sm-12">
            {% if interventions is empty %}
                <div class="card-inside inside-four-border-dashed text-center">
                    <div class="p-4">
                        <h3>Aucune intervention</h3>
                        Ajoutez des interventions pour <strong>{{ customer.fullname}}</strong> et retrouvez-les ici
                        <div class="mt-3">
                            <a href="{{ url_for('intervention_create_customer_regular', {id:customer.id}) }}" class="btn btn-light-four"><i class="ri-add-line"></i> Nouvelle intervention</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="grid-12 -noGutter">
                    <div class="col-8_sm-12">
                        <h3>Interventions ({{ nbInterventions }})</h3>
                    </div>
                    <div class="col-4_sm-12 text-right">
                        <a href="{{ url_for('intervention_create_customer_regular', {id:customer.id}) }}" class="btn btn-light-four fw-600"><i class="ri-add-fill"></i> Créer</a>
                    </div>
                </div>
                <div class="grid-2 mt-3">
                    {% for i in interventions %}
                        <div class="col">
                            <div class="card">
                                <div class="card-body p-4">
                                    <a href="{{ url_for('intervention_read', {id:i.id}) }}" class="flex align-items-center color-inherit">
                                        <div class="mr-4">
                                            <span class="text-{% if i.is_closed %}blue{% else %}purple-light{% endif %}">
                                                <i class="fs-32px ri-{% if i.is_closed %}checkbox-circle{% else %}timer-2{% endif %}-fill"></i>
                                            </span>
                                        </div>
                                        <div>
                                            <h4>{{ i.name }}</h4>
                                            <p class="m-0">
                                        <span class="d-block">
                                            Référence : <span class="text-{% if i.is_closed %}blue{% else %}purple-light{% endif %}">{{ i.ref_number }}</span>
                                        </span>
                                                <span class="d-block">
                                            Equipement : {{ i.equipment_name }}
                                        </span>
                                                <span class="d-block">
                                            Date : {{ i.created_at | date('d/m/Y') }}
                                        </span>
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <!-- Add/Choice new equipment -->
    <div class="modal" id="choice_add_equipment">
        <div class="modal-container">
            <div class="modal-header">
                <h1>Choix du type d'équipement</h1>
            </div>
            <div class="modal-content">
                Merci de choisir un type d'équipement pour <strong>{{ customer.fullname }}</strong>
                <div class="flex justify-content-center mt-3">
                    <div class="col-3_sm-12">
                        <a href="{{ url_for('equipment_create_customer', {id:customer.id}) }}" class="d-block text-center all-border p-3 text-muted" style="width:190px;">
                            <i class="fs-32px ri-computer-fill"></i>
                            <span class="d-block">
                                     Ordinateur/Smartphone
                                </span>
                        </a>
                    </div>
                    <div class="col-3_sm-12">
                        <a href="{{ url_for('equipment_create_customer_device', {id:customer.id}) }}" class="d-block text-center all-border p-3 text-muted" style="width:190px;">
                            <i class="fs-32px ri-printer-fill"></i>
                            <span class="d-block">
                                     Périphérique
                                </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-right">
                <button data-dismiss="modal" class="modal__close btn btn-light-pink">Annuler</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        let form_element = document.getElementById('form_data');
        let characterCounter = document.getElementById('char_count');
        const maxNumOfChars = 200;
        form_element.addEventListener("input", function (){
            let numOfEnteredChars = form_element.value.length;
            let counter = maxNumOfChars - numOfEnteredChars;
            characterCounter.textContent = counter + "/200";
            if (counter === 0){
                characterCounter.style.color = "red"
            }else if(counter < 8){
                characterCounter.style.color = "orange"
            } else if( counter > 192) {
                characterCounter.style.color = "orange"
            } else{
                characterCounter.style.color = ""
            }
        });
    </script>
    <script type="text/javascript" src="/assets/js/chartjs/chart.min.js"></script>
    <script type="text/javascript" src="/assets/js/charts-data/dash.customer.stats.js"></script>
    <script>
        dashCustomerStats([
            {% if nbInterventions > 0 %}{{ nbInterventions }}{% else %}0{% endif %},
            {% if nbEquipments > 0 %}{{ nbEquipments }}{% else %}0{% endif %},
            {% if countOutlay > 0 %}{{ countOutlay }}{% else %}0{% endif %},
            {% if countDocument > 0 %}{{ countDocument }}{% else %}0{% endif %}
        ])
    </script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    <script src="/assets/js/functions.customers.js"></script>
    {% if customer.addr_latitude is not empty %}
        <script>
            viewMap({{ customer.addr_latitude }}, {{ customer.addr_longitude }})
        </script>
    {% endif %}
    {% if customer.address is null %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        Swal.fire({
            title: 'Compte incomplet !',
            text: 'Ce compte client est incomplet, pensez à le finaliser.',
            icon: 'warning',
            confirmButtonText: 'OK',
            confirmButtonColor: '#F9556D',
            customClass: {
                popup: 'bg-foreground',
                confirmButton: 'bg-sk-color-one',
                title: 'text-foreground',
                htmlContainer: 'text-muted'
            }
        })
    </script>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
{% endblock %}