<div class="click-list p-absolute">
{% if customers is not empty %}
        <ul>
            {% for customer in customers %}
                <li>
                    <a href="{{ url_for('customer_read', {'id' : customer.id}) }}" class="link-list">
                        <span class="ll_name">
                            {{ customer.fullname }} <br>
                            <em class="fs-13px">{{ customer.zipcode }} - <span class="text-one">{{ customer.city }}</span></em>
                        </span>
                        <span class="ll_type">
                            {% if customer.is_society == 1 and customer.is_society is defined %}
                                <i class="ri-building-fill"></i>
                            {% else %}
                                <i class="ri-user-2-fill"></i>
                            {% endif %}
                        </span>
                    </a>
                </li>
            {% endfor %}
        </ul>

{% else %}
    <div class="p-4 text-center">
        <span class="d-block text-one"><i class="fa-solid fa-ban"></i> Aucun résultat !</span>
        <p>Ce client n'existe pas.</p>
        <a href="{{ url_for('customer_create_particular') }}" class="btn-sm btn-light-four">Le créer ?</a>
    </div>
{% endif %}
</div>