<div class="modal" id="exit_date">
    <div class="modal-container" style="width: 200px;">
        {{ formBooking.renderStart | raw }}
            <div class="modal-header">
                <h1>Programmer une date de sortie</h1>
            </div>
            <div class="modal-content">
                <input type="hidden" name="_METHOD" value="POST"/>
                <input type="hidden" name="form_booking[customer]" value="{{ i.customer_name }}">
                <input type="hidden" name="form_booking[intervention_id]" value="{{ intervention_id }}">
                Vous êtes sur le point de programmer une date de sortie pour l'intervention n° :
                <p>
                    <i class="ri-arrow-right-circle-line"></i> <strong>{{ i.ref_number }}</strong>
                </p>
                <p>
                    Votre client recevra cette confirmation par courriel.
                </p>
                <span class="d-block mb-4">Veuillez confirmer une date :</span>
                <div class="flex justify-content-space-between">
                    <div>
                        {{ formBooking.renderField('begin_at') | raw }}
                    </div>
                    <div>
                        {{ formBooking.renderField('subtitle') | raw }}
                    </div>
                </div>
            </div>
            <div class="modal-footer text-right">
                <button type="submit" class="btn btn-light-four m-0"><i class="fa fa-check-circle" aria-hidden="true"></i> Confirmer</button>
                <button data-dismiss="modal" class="modal__close btn btn-light-pink m-0">Annuler</button>
            </div>
        {{ formBooking.renderEnd(false) | raw }}
    </div>
</div>