<div class="modal" id="search_intervention">
    <div class="modal-container" style="width:950px;margin: 5% auto;">
        <div class="modal-header">
            <h1>
                Rechercher des interventions par critère
            </h1>
        </div>
        {{ formSearch.renderStart | raw }}
        <div class="modal-content">
            <div class="grid-12 mt-5">
                <div class="col-12_sm-12">
                    <div class="grid-12">
                        <div class="col-4_sm-12">
                            {{ formSearch.renderField('sort') | raw }}
                            {{ formSearch.renderField('a_priority') | raw }}
                        </div>
                        <div class="col-4_sm-12">
                            {{ formSearch.renderField('status_id') | raw }}
                            {{ formSearch.renderField('users_id') | raw }}
                        </div>
                        <div class="col-4_sm-12">
                            {{ formSearch.renderField('way_steps') | raw }}
                            {{ formSearch.renderField('company_id') | raw }}
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer text-right">
            <button type="submit" class="btn btn-sk-one">Rechercher</button>
        </div>
        {{ formSearch.renderEnd(false) | raw }}
    </div>
</div>