<div class="modal" id="update_intervention">
    <div class="modal-container">
        <div class="modal-header">
            <h1>Mise à jour d'une intervention</h1>
        </div>
        {{ form.renderStart | raw }}
        <div class="modal-content">
            <div class="mb-4">
                Seuls les champs marqués d'un <abbr title="Required Field" class="text-pink">*</abbr> sont obligatoires.
            </div>
            <div class="grid-12 mt-5">
                <div class="col-12_sm-12">
                    <div class="grid-12">
                        <div class="col-6_sm-12">
                            {{ form.renderField('name') | raw }}
                        </div>
                        <div class="col-6_sm-12">
                            {{ form.renderField('users_id') | raw }}
                        </div>
                    </div>
                    {{ form.renderField('description') | raw }}
                    <div class="grid-12">
                        <div class="col-4_sm-12">
                            {{ form.renderField('way_steps') | raw }}
                        </div>
                        <div class="col-4_sm-12">
                            {{ form.renderField('sort') | raw }}
                        </div>
                        <div class="col-4_sm-12">
                            {{ form.renderField('way_type') | raw }}
                        </div>
                    </div>
                    <div class="grid-12">
                        <div class="col-6_sm-12">
                            {{ form.renderField('observation') | raw }}
                            {{ form.renderField('handling_customer') | raw }}

                        </div>
                        <div class="col-6_sm-12">
                            {{ form.renderField('note_customer') | raw }}
                            {{ form.renderField('note_technician') | raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer text-right">
            <button type="submit" class="btn btn-light-four">Enregistrer</button>
            <button data-dismiss="modal" class="modal__close btn btn-light-pink">Annuler</button>
        </div>
        {{ form.renderEnd(false) | raw }}
    </div>
</div>

{% block javascripts %}

{% endblock %}