{% extends 'backoffice/base.html.twig' %}

{% block title %}Liste des interventions{% endblock %}

{% block body %}
<div class="grid-12">
    <div class="col-3_sm-12">
        <div class="card-filter-search">
            <div class="pt-2 pb-2 pl-3 pr-3 border-bottom-dashed">
                <h3 class="fs-14px m-0">Rechercher par référence</h3>
            </div>
            <div class="p-3">
                <div class="search-flex-dashed">
                    <div class="pl-3 pr-3 flex align-items-center"><i class="ri-search-2-line"></i></div>
                    <div class="flex-root">
                        <input type="text" name="key" autocomplete="off" onkeyup="searchHttpRequest(this.value, '/admin/interventions/ajax/search')" class="form-input" id="txtHint" placeholder="Nom du client ou numéro de série de l'équipement">
                    </div>
                </div>
            </div>
            <div class="results" id="htmlContent"></div>
        </div>
        <div class="card-filter-search mt-3">
            <div class="pt-2 pb-2 pl-3 pr-3 border-bottom-dashed">
                <h3 class="fs-14px m-0"><i class="ri-filter-2-line"></i> Filtrer les interventions</h3>
            </div>
            <div class="p-3">
                {{ formSearch.renderStart | raw }}
                {{ formSearch.renderField('sort') | raw }}
                {{ formSearch.renderField('a_priority') | raw }}
                {{ formSearch.renderField('way_type') | raw }}
                {{ formSearch.renderField('users_id') | raw }}
                {{ formSearch.renderField('way_steps') | raw }}
                {{ formSearch.renderField('company_id') | raw }}
                <button type="submit" class="d-block w100 btn btn-sk-one">Rechercher</button>
                {{ formSearch.renderEnd(false) | raw }}
            </div>
        </div>
    </div>
    <div class="col-9_sm-12">
        <ul id="tabs" class="nav-components">
            <li><a {% if filter is empty %}class="selected"{% endif%} href="{{ url_for('dash_intervention') }}">Toutes</a></li>
            <li><a {% if filter == 'DRAFT' %}class="selected"{% endif%} href="{{ url_for('dash_intervention', {}, {'filter': 'DRAFT'}) }}">Brouillons</a></li>
            <li><a {% if filter == 'PENDING' %}class="selected"{% endif%} href="{{ url_for('dash_intervention', {}, {'filter': 'PENDING'}) }}">Non finalisées</a></li>
            <li><a {% if filter == 'COMPLETED' %}class="selected"{% endif%} href="{{ url_for('dash_intervention', {}, {'filter': 'COMPLETED'}) }}">Complètes</a></li>
        </ul>
        {% for i in interventions %}
            <div class="item-list {% if i.a_priority == 'URGENT' or i.a_priority == 'ABSOLUTE' %}item-list-ribbon{% endif %}">
                {% if i.a_priority == 'URGENT' or i.a_priority == 'ABSOLUTE' %}
                <div class="ribbon ribbon-bookmark ribbon-vertical-left ribbon-one"><i class="ri-fire-fill"></i></div>
                {% endif %}
                <div class="item-list__content">
                    <div class="flex">
                        <img src="{{ asset('img/icons/pc1_45.png') }}" class="mr-3" alt="">
                        <div class="flex-root">
                            <div>
                                <h6>
                                    <a href="{{ url_for('intervention_read', {'id': i.id}) }}">{{ i.name }}</a>
                                    <span class="f-right text-muted fs-12px">
                                    {% if i.created_at | date("U") > "-7 days"|date("U") %}
                                        <span class="fs-12px label-mid btn-light-info">New</span>
                                    {% else %}
                                        {{ i.created_at | date('d/m/Y') }}
                                    {% endif%}
                                        {% if pull_date is not null %}
                                            <br>
                                            <em class="d-block">Retrait : {{ i.pull_date | date('d/m/Y') }}</em>
                                        {% endif %}
                                </span>
                                </h6>
                                <p class="m-0">{{ i.customer_name }} | {{ i.equipment_name }}</p>
                            </div>
                        </div>
                    </div>
                    <p class="text-dark fs-15px">
                        {{ i.description }}
                    </p>
                </div>
            </div>
        {% endfor %}
        <div class="text-center">
            {{ dataPaginate | raw }}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="/assets/js/search.js"></script>
{% endblock %}