{% extends 'backoffice/base.html.twig' %}

{% block title %}Liste des interventions{% endblock %}

{% block body %}
<div class="grid-12">
    <div class="col-3_sm-12">
        <a href="{{ url_for('intervention_create_regular') }}" class="btn btn-inverse-one btn-inverse-one-bg w100 d-block"><i class="ri-add-fill"></i> Créer une intervention</a>
        <div class="card-filter-search">
            <div class="pt-2 pb-2 pl-3 pr-3 border-bottom-dashed">
                <h3 class="fs-14px m-0">Rechercher par référence</h3>
            </div>
            <div class="p-3">
                <div class="search-flex-dashed">
                    <div class="pl-3 pr-3 flex align-items-center"><i class="ri-search-2-line"></i></div>
                    <div class="flex-root">
                        <input type="text" name="key" autocomplete="off" onkeyup="searchHttpRequest(this.value, '/admin/interventions/ajax/search')" class="form-input" id="txtHint" placeholder="Nom du client ou numéro de série de l'équipement">
                    </div>
                </div>
            </div>
            <div class="results" id="htmlContent"></div>
        </div>
        <div class="card-filter-search mt-3">
            <div class="pt-2 pb-2 pl-3 pr-3 border-bottom-dashed">
                <h3 class="fs-14px m-0"><i class="ri-filter-2-line"></i> Filtrer les interventions</h3>
            </div>
            <div class="p-3">
                {{ formSearch.renderStart | raw }}
                {{ formSearch.renderField('sort') | raw }}
                {{ formSearch.renderField('a_priority') | raw }}
                {{ formSearch.renderField('status_id') | raw }}
                {{ formSearch.renderField('users_id') | raw }}
                {{ formSearch.renderField('way_steps') | raw }}
                {{ formSearch.renderField('company_id') | raw }}
                <button type="submit" class="d-block w100 btn btn-sk-one">Rechercher</button>
                {{ formSearch.renderEnd(false) | raw }}
            </div>
        </div>
    </div>
    <div class="col-9_sm-12">
        <ul id="tabs" class="nav-components">
            <li><a {% if filter is empty %}class="selected"{% endif%} href="{{ url_for('dash_intervention') }}">Toutes</a></li>
            <li><a {% if filter == 'progress' %}class="selected"{% endif%} href="{{ url_for('dash_intervention', {}, {'filter': 'progress'}) }}">En cours</a></li>
            <li><a {% if filter == 'pending' %}class="selected"{% endif%} href="{{ url_for('dash_intervention', {}, {'filter': 'pending'}) }}">Non finalisées</a></li>
            <li><a {% if filter == 'completed' %}class="selected"{% endif%} href="{{ url_for('dash_intervention', {}, {'filter': 'completed'}) }}">Complètes</a></li>
        </ul>
        {% if i_hot %}
        <div class="mb-3 border-bottom-dashed">
            <h3>Intervention(s) importante(s)</h3>
        {% for i in i_hot %}
            {{ include('backoffice/intervention/_item.html.twig', {data:i, hot:true}) }}
        {% endfor %}
        </div>
        {% endif %}
        <!-- Check if interventions -->
        {% if interventions is not empty %}
        {% for i in interventions %}
            {{ include('backoffice/intervention/_item.html.twig', {data:i}) }}
        {% endfor %}
        <div class="text-center">
            {{ pagerfanta(interventions, 'dash_intervention') }}
        </div>
        {% else %}
            <div class="alert alert-light-info">
                Aucune intervention.
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="/assets/js/search.js"></script>
{% endblock %}