{% extends 'backoffice/base.html.twig' %}

{% block title %}Liste des interventions{% endblock %}

{% block body %}
    {% if interventions is not empty %}
        <div class="filter-search">
            <button type="button" data-target="search_intervention" data-toggle="modal" class="btn btn-sk-one"><i class="fa-solid fa-filter"></i></button>
            <a href="{{ url_for('dash_intervention') }}/?v=all" class="btn btn-sk-one"><i class="fa-solid fa-table-cells"></i></a>
            <div class="form-group form-icon form-icon-left mb-0 flex-root">
                <div class="flex">
                    <div class="pl-3 pr-3 flex align-items-center"><i class="ri-search-2-line"></i></div>
                    <div class="flex-root">
                        <input type="text" name="key" autocomplete="off" onkeyup="searchHttpRequest(this.value, '/admin/interventions/ajax/search')" class="form-input" id="txtHint" placeholder="Nom du client ou numéro de série de l'intervention">
                    </div>
                </div>
            </div>
            <div class="sk-topbar-search-button">
                <button type="button" data-target="add_intervention" data-toggle="modal" class="btn btn-sk-tree"><i class="fa-solid fa-plus"></i> Nouvelle intervention</button>
            </div>
        </div>
        <div class="results" id="htmlContent"></div>
        <div class="mt-5" id="table-visible">
            <div class="grid-12">
                    {% for i in interventions %}
                        <div class="col-6_sm-12">
                            <div class="card card-shadow p-relative">
                                <div class="card-body p-4">
                                    <div class="pin pin-right">
                                        {{ getDataPriority(i.a_priority, 'Priorité') }}
                                    </div>
                                    <h4 class="card-title">{{ i.name }}</h4>
                                    <div class="listline-wrapper pt-2">
                                        <div class="item">
                                            <span><i class="fa-solid fa-id-card"></i></span>
                                            {{ i.customer_name }}
                                        </div>
                                        <div class="item">
                                            <span></span>
                                            {{ getDataState(i.state) }}
                                        </div>
                                        <div class="item">
                                            <span><i class="fa-solid fa-toolbox"></i></span>
                                            {{ i.sort }}
                                        </div>
                                        <div class="item">
                                            <span><i class="fa-solid fa-clock-rotate-left"></i></span>
                                            {{ i.total_time }}H
                                        </div>
                                        <div class="item">
                                            <span></span>
                                        </div>
                                    </div>
                                    <p class="text-muted">
                                        Intervention sur l'équipement : <strong>{{ i.equipment_name }}</strong> <br>
                                        {{ i.description | slice(0,35) }}
                                    </p>
                                </div>
                                <div class="card-footer flex align-items-center justify-content-space-between flex-wrap">
                                    <div>
                                        <span>Emise le</span>
                                        <span class="d-block fw-500 text-dark">{{ i.created_at | date('d/m/Y') }}</span>
                                    </div>
                                    <div class="mt-sm-0 mt-2">
                                        <span class="d-inline-block mr-2"><span class="d-inline-block mr-1 text-one"><i class="fa-solid fa-user-tie"></i></span> {{ i.u_fullname }}</span>
                                        <a href="{{ url_for('intervention_read', {'id': i.i_id}) }}" class="btn btn-sk-one m-0">Voir/Modifier</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
        </div>
        {{ dataPaginate | raw }}
    {% else %}
        <div class="text-center">
        <span>
            <i class="fs-80px ri-server-line"></i>
        </span>
            <h3>Aucune intervention</h3>
            Créez des interventions et retrouvez-les ici
            <div class="mt-3">
                <button type="button" data-target="add_intervention" data-toggle="modal" class="btn btn-light-four"><i class="ri-add-line"></i> Nouvelle intervention</button>
            </div>
        </div>
    {% endif %}
    {{ include('backoffice/intervention/_modal/_add_fast.html.twig') }}
    {{ include('backoffice/intervention/_modal/_search.html.twig') }}
{% endblock %}

{% block javascripts %}
    <script src="/assets/js/search.js"></script>
    <script>
        let inputswitch = document.querySelector(".switch")
        let createInput = document.querySelector(".create-customer .form-group")
        let selectCustomer = document.querySelector('#select-customer')
        inputswitch.addEventListener('click', function (e) {
            if(inputswitch.checked === true){
                selectCustomer.style.display = "none";
                const newInput = document.createElement("input");
                const newLabel = document.createElement("label");
                newInput.setAttribute('type', 'text');
                newInput.setAttribute('name', 'fullname');
                newInput.setAttribute('class', 'form-input');
                newLabel .setAttribute('class', 'form-label');
                newLabel.innerHTML = "Nom complet du client";
                createInput.appendChild(newLabel);
                createInput.appendChild(newInput);
            } else {
                let checkInput = document.querySelector(".create-customer .form-group input")
                let checklabel = document.querySelector(".create-customer .form-group label")
                selectCustomer.style.display = "block";
                checkInput.remove();
                checklabel.remove();
            }
        })
    </script>
{% endblock %}