{% extends 'backoffice/base.html.twig' %}

{% block title %}
    Intervention du {{ i.created_at | format_date('none', 'EEEE d MMM Y', null, 'gregorian', 'fr') }}
{% endblock %}

{% block body %}
    {{ include('backoffice/intervention/includes/_meta_btn.html.twig') }}
    <div class="grid-12">
        <div class="col-9_sm-12">
            <ul id="tabs" class="nav-components">
                <li><a class="selected" href="#"><i class="ri-information-fill"></i> Tâches/Diagnostic</a></li>
                <li><a href="{{ url_for('intervention_update_notes', {id:i.id}) }}"><i class="ri-file-2-fill"></i> Observations et notes</a></li>
                <li><a href="{{ url_for('intervention_files', {id:i.id}) }}"><i class="ri-file-2-fill"></i> Fichiers joints</a></li>
                <li><a href="{{ url_for('intervention_gallery', {id:i.id}) }}"><i class="ri-picture-in-picture-2-fill"></i> Galerie photos</a></li>
            </ul>
            <div class="tabs-wrapper">
                <div class="tabs-content">
                    <div class="card">
                        <div class="card-body p-4">
                            {% if i.is_closed == 1 %}
                                {{ include('backoffice/intervention/closed.html.twig') }}
                            {% else %}
                                {{ include('backoffice/intervention/open.html.twig') }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ include('backoffice/intervention/includes/_data_details.html.twig') }}
    </div>
    {% if i.with_deposit is null or i.with_deposit is empty %}
        {{ include('backoffice/intervention/_modal/_add_deposit.html.twig') }}
    {% endif %}
    {{ include('backoffice/intervention/_modal/_delete.html.twig') }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/intervention/dash.steps.js') }}" defer></script>
    <script src="{{ asset('assets/js/intervention/dash.status.js') }}" defer></script>
{% endblock %}