{% extends 'backoffice/base.html.twig' %}

{% block title %}
    Intervention du {{ i.created_at | format_date('none', 'EEEE d MMM Y', null, 'gregorian', 'fr') }}
{% endblock %}

{% set toolbar_tool = 1 %}

{% block toolbar %}
    <div class="toolbar-tools flex flex-wrap ml-5">
        <button type="button" class="btn btn-sk-tree"> <i class="ri-file-pdf-line"></i> Convertir en PDF</button>
        <button type="submit" data-target="delete_intervention" data-toggle="modal" class="btn btn-sk-one"><i class="fa-solid fa-trash-can"></i> Supprimer</button>
    </div>
{% endblock %}

{% block body %}
    <div class="grid-12">
        <div class="col-9_sm-12">
            <div class="alert alert-warning">
                Vous visualisez une intervention archivée. Les modifications ne pas permises.
            </div>
            <div class="grid-12">
                <div class="col-4_sm-12">
                    <div class="card">
                        <div class="card-body p-3">
                            <div class="card-header">
                                <h3>Temps estimé</h3>
                            </div>
                            <div>
                                {% set total = i.total_time * i.package_price %}
                                <span class="d-block">Heure totale : <strong>{{ i.total_time }}H00</strong></span>
                                <span class="d-block">Tarif estimé : <span class="label btn-light-info">{{ total | number_format(2, ',','.') }}€</span></span>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-3">
                        <div class="card-body p-3">
                            <div class="card-header">
                                <h3>Document(s) lié(s)</h3>
                            </div>
                            <div>
                                <em>Indisponible pour le moment</em>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-8_sm-12">
                    <div class="grid-12">
                        <!-- Customer -->
                        <div class="col-6_sm-12">
                            <div class="card mb-3">
                                <div class="card-body p-4">
                                    <div class="d-flex align-items-center border-bottom-dashed pb-2">
                                        <div class="mr-3"><i class="ri-user-fill fs-32px"></i></div>
                                        <div>
                                            <h3>{{ i.customer_name }}</h3>
                                            <span class="d-block">{{ i.c_zipcode }} - {{ i.c_city }}</span>
                                            <span class="d-block">{{ i.c_department }}</span>
                                            <span class="d-block"><strong>{{ i.c_phone }}</strong> / <strong>{{ i.c_mobile }}</strong></span>
                                        </div>
                                    </div>
                                    <div class="pt-2">
                                        <div class="flex align-items-center justify-content-space-between">
                                            <div>Préférence de contact</div>
                                            <div class="text-right fw-600">{{ i.c_favorite_contact }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Customer -->
                        <!-- Company -->
                        <div class="col-6_sm-12">
                            <div class="card mb-3">
                                <div class="card-body p-4">
                                    <div class="d-flex align-items-center border-bottom-dashed pb-2">
                                        <div class="mr-3"><i class="ri-building-fill fs-32px"></i></div>
                                        <div>
                                            <h3>{{ i.cy_name }}</h3>
                                            <span class="d-block">{{ i.cy_address }}</span>
                                            <span class="d-block">{{ i.cy_zipcode }} - {{ i.cy_city }}</span>
                                            <span class="d-block">{{ i.cy_department }}</span>
                                            <span class="d-block"><strong>{{ i.cy_phone }}</strong></span>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center mt-3">
                                        <div class="user-avatar mr-3">
                                            {% if i.u_avatar is not null and i.u_avatar is not empty %}
                                                <img class="img-responsive rounded-circle" style="width: 60px;height: auto" src="/uploads/avatars/{{ i.u_id }}/{{ i.u_avatar }}" alt="">
                                            {% else %}
                                                <img class="img-responsive" style="width: 60px;height: auto" src="/assets/no-avatar-120x120.jpg" alt="">
                                            {% endif %}
                                        </div>
                                        <div>
                                            <h3 class="mb-1">{{ i.u_fullname }}</h3> Technicien
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Company -->
                    </div>
                    <!-- Intervention details -->
                    <div class="card mb-3">
                        <div class="card-body p-4">
                            <div class="form-group">
                                <input type="text" class="form-input" value="{{ i.name }}" readonly>
                            </div>
                            <div class="grid-12">
                                <div class="col-6_sm-12">
                                    <div class="form-group">
                                        <label>
                                            <textarea class="form-input" readonly>{{ i.description }}</textarea>
                                        </label>
                                    </div>
                                    {{ form.textarea('description', false, false) | raw }}
                                </div>
                                <div class="col-3_sm-12">
                                    <strong class="d-block mb-2">Débutée le</strong>
                                    {% if i.start_date is not null %}
                                        <span class="d-inline-block fs-13px fw-500 bg-light-info pt-1 pb-1 pr-2 pl-2 text-uppercase">
                                        {{ i.start_date | format_date('none', 'd MMM Y', null, 'gregorian', 'fr') }}
                                        </span>
                                    {% endif %}
                                </div>
                                <div class="col-3_sm-12">
                                    <strong class="d-block mb-2">Terminée le</strong>
                                    {% if i.end_date is not null %}
                                        <span class="d-inline-block fs-13px fw-500 alert-light-pink pt-1 pb-1 pr-2 pl-2 text-uppercase">
                                        {{ i.end_date | format_date('none', 'd MMM Y', null, 'gregorian', 'fr') }}
                                    </span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="border-top-dashed mt-1 mb-3"></div>
                            <div class="grid-12">
                                {% if i.equipments_id is not null %}
                                <div class="col-3_sm-12">
                                    <strong class="d-block mb-2">Equipement</strong>
                                    <a class="btn-sm btn-sk-one" href="{{ url_for('equipment_read', {id:i.equipments_id}) }}"><i class="ri-pencil-fill"></i> {{ i.equipment_name }}</a>
                                </div>
                                {% endif %}
                                <div class="col-3_sm-12">
                                    <strong class="d-block mb-2">Priorité</strong>
                                    {{ getDataPriority(i.a_priority) }}
                                </div>
                                <div class="col-3_sm-12">
                                    <strong class="d-block mb-2">Type d'intervention</strong>
                                    {{ i.sort }}
                                </div>
                                <div class="col-3_sm-12">
                                    <strong class="d-block mb-2">Lien vers l'intervention</strong>
                                    <a class="btn-sm btn-sk-one" href="{{ url_for('app_read_intervention', {ref_for_link:i.ref_for_link}) }}" target="_blank">#{{ i.ref_number }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Intervention details -->
                </div>
            </div>
        </div>
        <div class="col-3_sm-12">
            <!-- Tasks -->
            <div class="card">
                <div class="card-body p-4">
                    <div class="tasks-list">
                        <span class="d-block fw-500 mb-3">Tâche(s) enregistrée(s)</span>
                        <ul>
                            {% for t in tForI %}
                                <li data-task-id="{{ t.id }}">
                                    <form class="flex align-items-center justify-content-space-between" method="post" action="{{ url_for('task_delete_intervention', {'id':intervention_id, 'task': t.id}) }}">
                                        <input type="hidden" name="task_id" value="{{ t.id }}">
                                        <span>{{ t.name }}</span>
                                        <button type="submit" class="label-mid badge-light-pink">x</button>
                                    </form>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /Tasks -->
        </div>
    </div>
    <div class="d-mobile">
        <div class="fixed-nav-tools nav-tools nav-vertical-tools">
            <button id="btn-tools" type="button" class="btn-nav-tools"><i class="fa-solid fa-gear"></i></button>
            <div class="content-nav-tools">
                <ul class="nav">
                    <li><a href="#"><i class="fa-regular fa-file-pdf"></i> Convertir PDF</a></li>
                    <li><a href="#" data-target="delete_intervention" data-toggle="modal" class="text-delete"><i class="fa-solid fa-trash-can"></i> Supprimer</a></li>

                </ul>
            </div>
        </div>
    </div>
    {{ include('backoffice/intervention/_modal/_delete.html.twig') }}
{% endblock %}

{% block javascripts %}
    <script src="/assets/js/functions.interventions.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script>
        let button = document.getElementById('btn-tools')
        let navTools = document.querySelector('.nav-tools')
        button.addEventListener('click', function (e) {
            document.querySelector('.overlay').style.display = document.querySelector('.overlay').style.display === 'block' ? '' : 'block';
            navTools.classList.toggle('deployed');
        });
    </script>
{% endblock %}