{% if interventions is not empty %}
    <div class="card mt-3">
        <div class="card-body p-4">
            <div class="card-header">
                <h4 class="card-title">Résultat de la recherche</h4>
            </div>
            <table class="table-default table-striped">
                <thead>
                <tr>
                    <th>Titre</th>
                    <th>Client</th>
                    <th>Référence</th>
                    <th>Equipement</th>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Etat</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for i in interventions %}
                    <tr onclick="document.location = '{{ url_for('intervention_read', {'id': i.id}) }}'" style="cursor: pointer{% if client.is_blacklist == 1 %};background-color:rgba(247, 49, 100, 0.15){% endif %}">
                        <td><strong>{{ i.name }}</strong></td>
                        <td>{{ i.customer_name }}</td>
                        <td>{{ i.ref_number }}</td>
                        <td>{{ i.equipment_name }} - {{ i.e_serial }}</td>
                        <td>{{ i.created_at | date('d/m/Y') }}</td>
                        <td>{{ i.sort }}</td>
                        <td>{{ i.way_type }}</td>
                        <td>
                            <a href="" class="btn-sm btn-light-purple" title="Modifier le compte client"><i class="ri-edit-2-fill"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% else %}
    <div class="p-4">Il n'y a aucun résultat pour cette recherche</div>
{% endif %}