{% extends 'backoffice/base.html.twig' %}

{% block title %}{{ e.name }} de {{ e.customer_name }}{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-tabs">
            <ul id="tabs" class="border-bottom">
                <li><a href="{{ url_for('equipment_read', {'id' : e.id}) }}"><i class="ri-computer-line"></i> Vue générale</a></li>
                <li><a href="{{ url_for('equipment_update', {'id' : e.id}) }}"><i class="ri-pencil-fill"></i> Modifier</a></li>
                <li><a class="selected" href="{{ url_for('equipment_update_specs', {'id' : e.id}) }}"><i class="ri-cpu-line"></i> Configuration système</a></li>
            </ul>
            <div class="p-4">
                <div class="grid-12">
                    <div class="col-8_sm-12">
                        {{ form.renderStart | raw }}
                            <div class="grid-2 mt-4">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="form-label" for="login_id" style="display: none"></label>
                                        <div class="input-icon input-default icon-left br-8 p-relative">
                                            <span class="icon" title="Nom du système d'exploitation récupéré depuis BAO"><i class="ri-question-line"></i></span>
                                            <input type="text" class="form-input underlined pl-8 flex align-items-center" id="os_name" value="{{ e.os_name }}" name="os_name" readonly>
                                        </div>
                                    </div>
                                    {{ form.renderField('c_install_date') | raw }}
                                    {{ form.renderField('c_processor') | raw }}
                                    {{ form.renderField('c_socket') | raw }}
                                    {{ form.renderField('c_gpu') | raw }}
                                </div>
                                <div class="col">
                                    {{ form.renderField('e_licence') | raw }}
                                    {{ form.renderField('c_motherboard') | raw }}
                                    {{ form.renderField('c_bios') | raw }}
                                    {{ form.renderField('c_memory') | raw }}
                                </div>
                            </div>
                            <button type="submit" class="btn btn-light-purple">Enregistrer</button>
                            {{ form.renderEnd(false) | raw }}
                    </div>
                    <div class="col-4_sm-12">
                        {{ formBao.renderStart | raw }}
                            <div class="card-inside inside-purple-border">
                                <div class="card-body p-3 text-muted">
                                    <h3>Importer un fichier BAO</h3>
                                    <p>
                                        Proaxive vous permet également d'importer un rapport d'équipement de la solution BAO (Boîte à Outils par Bastien).
                                        Ce rapport contient la configuration matérielle de l'ordinateur que Proaxive récupère automatiquement.
                                    </p>
                                    {{ formBao.renderField('file') | raw }}
                                    <button type="submit" class="btn btn-light-purple">Importer les données</button>
                                </div>
                            </div>
                        {{ formBao.renderEnd() | raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
