{% extends 'backoffice/base.html.twig' %}

{% block title %}Liste des interventions{% endblock %}

{% block body %}
    <ul id="tabs" class="nav-components">
        <li><a {% if filter is empty %}class="selected"{% endif%} href="{{ url_for('dash_intervention') }}">Toutes</a></li>
        <li><a {% if filter == 'draft' %}class="selected"{% endif%} href="{{ url_for('dash_intervention', {}, {'filter': 'draft'}) }}">Brouillons</a></li>
        <li><a {% if filter == 'pending' %}class="selected"{% endif%} href="{{ url_for('dash_intervention', {}, {'filter': 'pending'}) }}">Non finalisées</a></li>
    </ul>
    {% if interventions is not empty %}
        <div class="card card-shadow mt-3">
            <div class="p-4">
                <div class="mb-3">
                    <div class="filter-search">
                        <button type="button" class="btn btn-sk-one"><i class="fa-solid fa-filter" data-target="search_intervention" data-toggle="modal" ></i></button>
                        <div class="form-group form-icon form-icon-left mb-0 flex-root">
                            <div class="flex">
                                <div class="pl-3 pr-3 flex align-items-center"><i class="ri-search-2-line"></i></div>
                                <div class="flex-root">
                                    <input type="text" name="key" autocomplete="off" onkeyup="searchHttpRequest(this.value, '/admin/interventions/ajax/search')" class="form-input" id="txtHint" placeholder="Nom du client ou numéro de série de l'équipement">
                                </div>
                            </div>
                        </div>
                        <div class="sk-topbar-search-button">
                            <button type="button" data-target="add_intervention" data-toggle="modal" class="btn btn-sk-tree"><i class="fa-solid fa-plus"></i> Nouvelle intervention</button>
                        </div>
                    </div>
                    <div class="results" id="htmlContent"></div>
                </div>
                <table id="table-visible" class="table-default table-striped">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Référence</th>
                        <th>Titre</th>
                        <th>Type</th>
                        <th>Client/Equipement</th>
                        <th>Etat/Priorité</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in interventions %}
                        <tr>
                            <td><input type="checkbox" value=""></td>
                            <td>{{ i.ref_number }}</td>
                            <td>
                                {{ i.name }}
                                <em class="d-block">{{ i.description | slice(0,35) }}</em>
                            </td>
                            <td>{{ i.sort }}</td>
                            <td>
                                <a class="color-inherit" href="{{ url_for('customer_read', {id: i.customers_id}) }}"><strong>{{ i.customer_name }}</strong></a>
                                <em class="d-block">{{ i.equipment_name }}</em>
                            </td>
                            <td>{{ getDataState(i.state) }} {{ getDataPriority(i.a_priority, 'Priorité') }}</td>
                            <td>
                                {{ i.created_at | date('d/m/Y') }}
                                {% if pull_date is not null %}
                                    <br>
                                    <em class="d-block">Retrait : {{ i.pull_date | date('d/m/Y') }}</em>
                                {% endif %}
                            </td>
                            <td class="link-icon">
                                {% if i.state == 'PENDING' %}
                                    <a class="link-default" href="{{ url_for('intervention_create_regular_step3', {'id': i.customers_id}, {'inter': i.id}) }}" title="Finaliser la création"><i class="ri-settings-2-line"></i></a>
                                {% else %}
                                <a class="link-default" href="{{ url_for('intervention_read', {'id': i.id}) }}"><i class="ri-edit-2-line"></i></a>
                                {% endif %}
                                <a href="" class="text-pink"><i class="ri-delete-bin-fill"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {{ dataPaginate | raw }}
    {% else %}
        <div class="text-center">
        <span class="text-one">
            <i class="fs-80px ri-server-line"></i>
        </span>
            <h3>Aucune intervention</h3>
            Créez des interventions et retrouvez-les ici
            <div class="mt-3">
                <button type="button" data-target="add_intervention" data-toggle="modal" class="btn btn-light-four"><i class="ri-add-line"></i> Nouvelle intervention</button>
            </div>
        </div>
    {% endif %}

    {{ include('backoffice/intervention/_modal/_add_fast.html.twig') }}
    {{ include('backoffice/intervention/_modal/_search.html.twig') }}
{% endblock %}

{% block javascripts %}
    <script src="/assets/js/search.js"></script>
    <script>
        let inputswitch = document.querySelector(".switch")
        let createInput = document.querySelector(".create-customer .form-group")
        let selectCustomer = document.querySelector('#select-customer')
        inputswitch.addEventListener('click', function (e) {
            if(inputswitch.checked === true){
                selectCustomer.style.display = "none";
                const newInput = document.createElement("input");
                const newLabel = document.createElement("label");
                newInput.setAttribute('type', 'text');
                newInput.setAttribute('name', 'fullname');
                newInput.setAttribute('class', 'form-input');
                newLabel .setAttribute('class', 'form-label');
                newLabel.innerHTML = "Nom complet du client";
                createInput.appendChild(newLabel);
                createInput.appendChild(newInput);
            } else {
                let checkInput = document.querySelector(".create-customer .form-group input")
                let checklabel = document.querySelector(".create-customer .form-group label")
                selectCustomer.style.display = "block";
                checkInput.remove();
                checklabel.remove();
            }
        })
    </script>
{% endblock %}