{% extends 'backoffice/base.html.twig' %}

{% block title %}
    Intervention du {{ i.created_at | format_date('none', 'EEEE d MMM Y', null, 'gregorian', 'fr') }}
{% endblock %}

{% block body %}
    <div class="content-with-aside">
        <div class="c__aside">
            <h3 class="pt-1 pb-1 text-center bg-sk-color-one text-light">Gestion</h3>
            <div class="toolbar-tools p-3">
                {% if i.equipments_id is not null %}
                    <button data-tippy-content="Modifier cette intervention" type="button" class="btn btn-sk-tree rounded-circle"> <i class="ri-settings-2-line" data-target="update_intervention" data-toggle="modal"></i></button>
                    {% if i.with_deposit is not null or i.with_deposit is not empty %}
                        {% if i.d_is_signed is null %}
                            <a data-tippy-content="Faire signer le bon de dépôt" href="{{ url_for('deposit_sign', {reference:i.with_deposit}) }}" class="btn btn-sk-tree rounded-circle"><i class="fa-solid fa-pen-nib"></i></a>
                        {% else %}
                            <form action="{{ url_for('deposit_read') }}" method="get">
                                <input type="hidden" name="intervention_reference" value="{{ i.ref_number }}">
                                <input type="hidden" name="deposit_reference" value="{{ i.with_deposit }}">
                                <button data-tippy-content="Voir le bon de dépôt" type="submit" class="btn btn-sk-tree rounded-circle" title="Afficher le bon"><i class="fa-solid fa-eye"></i></button>
                            </form>
                        {% endif %}
                    {% else %}
                        <button data-tippy-content="Créer le bon de dépôt" type="button" class="btn btn-sk-tree rounded-circle"> <i class="ri-file-2-line" data-target="add_deposit" data-toggle="modal"></i></button>
                    {% endif %}
                {% endif %}
                <button data-tippy-content="Convertir en PDF" type="button" class="btn btn-sk-tree rounded-circle"> <i class="ri-file-pdf-line"></i></button>
                <button data-tippy-content="Supprimer cette intervention" type="submit" class="btn btn-sk-one rounded-circle"><i class="fa-solid fa-trash-can" data-target="delete_intervention" data-toggle="modal"></i></button>
            </div>
        </div>
        <div class="c__center">
            <div class="grid-12">
                <div class="col-9_sm-12">
                    {% if i.equipments_id is null %}
                        <div class="alert alert-warning">
                            L'équipement associé à cette intervention n'existe plus. Que voulez-vous faire ?
                            <div class="mt-2">
                                <form method="post" action="{{ url_for('equipment_delete',{id:e.id}) }}" class="d-inline-block">
                                    <input type="hidden" name="_METHOD" value="DELETE"/>
                                    <button type="submit" onclick="return confirm('Etes-vous sûr ?')" class="btn-mid btn-light-warning">Supprimer l'intervention</button>
                                </form>
                                <button type="button" class="btn-mid btn-light-warning">Archiver l'intervention</button>
                            </div>
                        </div>
                    {% else %}
                        {% if i.equipment_name != i.e_name %}
                            <div class="grid-12">
                                <div class="col-12_sm-12">
                                    <div class="alert alert-info" id="alert-ajax">
                                        <strong>Information</strong> : le nom de l'équipement de cette intervention ne correspond pas avec l'association "Equipment". Cliquez ci-dessous afin de mettre à jour les données.
                                        <form method="post" action="#" id="update-equipment-name" class="mt-2">
                                            <button type="button" onclick="ajaxUpdateDataUrl('{{ url_for('intervention_ajax_u_equipment_name', {'id' : intervention_id, 'eid': i.e_id}) }}', 'update-equipment-name'); return false;" class="btn-sm btn-light-info submit-ajax">Mettre à jour maintenant</button>
                                            <span id="message"></span>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                    <div class="grid-12">
                        <div class="col-4_sm-12">
                            {% if i.total_time != 0 %}
                            <div class="card mb-3">
                                <div class="card-body p-3">
                                    <h3>Temps estimé</h3>
                                    <div>
                                        {% set total = i.total_time * i.package_price %}
                                        <span class="d-block">Heure totale : <strong>{{ i.total_time }}H00</strong></span>
                                        <span class="d-block">Tarif estimé : <span class="label btn-light-info">{{ total | number_format(2, ',','.') }}€</span></span>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <div class="card">
                                <div class="card-body p-3">
                                    <h3>Document(s) lié(s)</h3>
                                    <div>
                                        <em>Indisponible pour le moment</em>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-8_sm-12">
                            <div class="grid-12">
                                <!-- Customer -->
                                <div class="col-6_sm-12">
                                    <div class="card mb-3">
                                        <div class="card-body p-4">
                                            <div class="d-flex align-items-center border-bottom-dashed pb-2">
                                                <div class="mr-3"><i class="ri-user-fill fs-32px"></i></div>
                                                <div>
                                                    <h3>{{ i.customer_name }}</h3>
                                                    <span class="d-block">{{ i.c_zipcode }} - {{ i.c_city }}</span>
                                                    <span class="d-block">{{ i.c_department }}</span>
                                                    <span class="d-block"><strong>{{ i.c_phone }}</strong> / <strong>{{ i.c_mobile }}</strong></span>
                                                </div>
                                            </div>
                                            <div class="pt-2">
                                                <div class="flex align-items-center justify-content-space-between">
                                                    <div>Préférence de contact</div>
                                                    <div class="text-right fw-600">{{ i.c_favorite_contact }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Customer -->
                                <!-- Company -->
                                <div class="col-6_sm-12">
                                    <div class="card mb-3">
                                        <div class="card-body p-4">
                                            <div class="d-flex align-items-center border-bottom-dashed pb-2">
                                                <div class="mr-3"><i class="ri-building-fill fs-32px"></i></div>
                                                <div>
                                                    <h3>{{ i.cy_name }}</h3>
                                                    <span class="d-block">{{ i.cy_address }}</span>
                                                    <span class="d-block">{{ i.cy_zipcode }} - {{ i.cy_city }}</span>
                                                    <span class="d-block">{{ i.cy_department }}</span>
                                                    <span class="d-block"><strong>{{ i.cy_phone }}</strong></span>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center mt-3">
                                                <div class="user-avatar mr-3">
                                                    {% if i.u_avatar is not null and i.u_avatar is not empty %}
                                                        <img class="img-responsive rounded-circle" style="width: 60px;height: auto" src="{{ get_env('PATH_PUBLIC') }}/uploads/avatars/{{ i.u_id }}/{{ i.u_avatar }}" alt="">
                                                    {% else %}
                                                        <img class="img-responsive rounded-circle" style="width: 50px;height: auto" src="{{ get_env('PATH_PUBLIC') }}/img/default-avatar.webp" alt="">
                                                    {% endif %}
                                                </div>
                                                <div>
                                                    <h3 class="mb-1">{{ i.u_fullname }}</h3> Technicien
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Company -->
                            </div>
                            <!-- Intervention details -->
                            <div class="card mb-3">
                                <div class="card-body p-4">
                                    <div class="form-group">
                                        <input type="text" class="form-input" value="{{ i.name }}" readonly>
                                    </div>
                                    <div class="grid-12">
                                        <div class="col-6_sm-12">
                                            <div class="form-group">
                                                <label>
                                                    <textarea class="form-input" readonly>{{ i.description }}</textarea>
                                                </label>
                                            </div>
                                            {{ form.textarea('description', false, false) | raw }}
                                        </div>
                                        <div class="col-3_sm-12">
                                            <strong class="d-block mb-2">Débutée le</strong>
                                            {% if i.start_date is not null %}
                                                <span class="d-inline-block fs-13px fw-500 bg-light-info pt-1 pb-1 pr-2 pl-2 text-uppercase">
                                        {{ i.start_date | format_date('none', 'd MMM Y', null, 'gregorian', 'fr') }}
                                            </span>
                                            {% else %}
                                                <form method="post" action="" id="start-intervention">
                                                    <button type="button" onclick="ajaxUpdateDataUrl('{{ url_for('intervention_ajax_start', {'id' : intervention_id}) }}', 'start-intervention'); return false;" class="btn-sm badge-light-green submit-ajax">Commencer maintenant !</button>
                                                    <span id="sync-start"></span>
                                                </form>
                                            {% endif %}
                                        </div>
                                        <div class="col-3_sm-12">
                                            <strong class="d-block mb-2">Terminée le</strong>
                                            {% if i.end_date is not null %}
                                                <span class="d-inline-block fs-13px fw-500 alert-light-pink pt-1 pb-1 pr-2 pl-2 text-uppercase">
                                        {{ i.end_date | format_date('none', 'd MMM Y', null, 'gregorian', 'fr') }}
                                    </span>
                                            {% else%}
                                                <form method="post" action="" id="end-intervention">
                                                    <button type="button" onclick="ajaxUpdateDataUrl('{{ url_for('intervention_ajax_end', {'id' : intervention_id}) }}', 'end-intervention'); return false;" class="btn-sm badge-light-green submit-ajax">Mettre fin maintenant !</button>
                                                    <span id="sync-end"></span>
                                                </form>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="border-top-dashed mt-1 mb-3"></div>
                                    <div class="grid-12">
                                        <div class="col-3_sm-12">
                                            <strong class="d-block mb-2">Equipement</strong>
                                            <a class="btn-sm btn-sk-one" href="{{ url_for('equipment_read', {id:i.equipments_id}) }}"><i class="ri-pencil-fill"></i> {{ i.equipment_name }}</a>
                                        </div>
                                        <div class="col-3_sm-12">
                                            <strong class="d-block mb-2">Priorité</strong>
                                            {{ getDataPriority(i.a_priority) }}
                                        </div>
                                        <div class="col-3_sm-12">
                                            <strong class="d-block mb-2">Type d'intervention</strong>
                                            {{ i.sort }}
                                        </div>
                                        <div class="col-3_sm-12">
                                            <strong class="d-block mb-2">Lien vers l'intervention</strong>
                                            <a class="btn-sm btn-sk-one" href="{{ url_for('app_read_intervention', {ref_for_link:i.ref_for_link}) }}" target="_blank">#{{ i.ref_number }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Intervention details -->
                        </div>
                    </div>
                </div>
                <div class="col-3_sm-12">
                    <!-- Tasks -->
                    {{ include('backoffice/intervention/widgets/_next_step.html.twig') }}
                    <div class="card">
                        <div class="card-body p-4">
                            <span class="d-block fw-500 mb-3">Gestion des tâches</span>
                            <div class="mb-3">
                                <em>Si une tâche n'existe pas, ajoutez-la ci-dessous.</em>
                            </div>
                            <form method="post" action="{{ url_for('settings_task_create') }}">
                                <div class="flex label-twin label-twin-left-btn mb-3">
                                <span class="lt-text">
                                    <label for="name">
                                        <input type="text" class="form-input-twin" id="name" name="form_setting_task[name]" placeholder="Nom de la tâche">
                                    </label>
                                </span>
                                    <span class="lt-button">
                                <button type="submit" class="btn-sm btn-light-four">Créer</button>
                            </span>
                                </div>
                            </form>
                            <div class="mb-3">
                                <em>Vous pouvez selectionner plusieurs tâches à la fois depuis ce sélecteur.</em>
                            </div>
                            {{ formTasks.renderStart | raw }}
                            <div class="select2">
                                {{ formTasks.renderField('tasks') | raw }}
                            </div>
                            <div class="flex align-items-center justify-content-space-between">
                                <div class="text-right flex-root">
                                    <button type="submit" class="btn-sm btn-light-four">Mettre à jour</button>
                                </div>
                            </div>
                            {{ formTasks.renderEnd(false) | raw }}
                            <div class="tasks-list mt-3">
                                <span class="d-block fw-500 mb-3">Tâche(s) enregistrée(s)</span>
                                <ul>
                                    {% for t in tForI %}
                                        <li data-task-id="{{ t.id }}">
                                            <form class="flex align-items-center justify-content-space-between" method="post" action="{{ url_for('task_delete_intervention', {'id':intervention_id, 'task': t.id}) }}">
                                                <input type="hidden" name="task_id" value="{{ t.id }}">
                                                <span>{{ t.name }}</span>
                                                <button type="submit" class="label-mid badge-light-pink">x</button>
                                            </form>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /Tasks -->
                </div>
            </div>
            {{ include('backoffice/intervention/_modal/_update_fields.html.twig') }}
            {% if i.with_deposit is null or i.with_deposit is empty %}
                {{ include('backoffice/intervention/_modal/_add_deposit.html.twig') }}
            {% endif %}
            <div class="d-mobile">
                <div class="fixed-nav-tools nav-tools nav-vertical-tools">
                    <button id="btn-tools" type="button" class="btn-nav-tools"><i class="fa-solid fa-gear"></i></button>
                    <div class="content-nav-tools">
                        <ul class="nav">
                            <li><a data-target="update_intervention" data-toggle="modal" href="#"><i class="fa-solid fa-pen-to-square"></i> Editer</a></li>
                            <li>
                                {% if i.with_deposit is not null or i.with_deposit is not empty %}
                                    {% if i.d_is_signed is null %}
                                        <a href="{{ url_for('deposit_sign', {reference:i.with_deposit}) }}"><i class="fa-solid fa-pen-nib"></i> Faire signer</a>
                                    {% else %}
                                        <form action="{{ url_for('deposit_read') }}" method="get">
                                            <input type="hidden" name="intervention_reference" value="{{ i.ref_number }}">
                                            <input type="hidden" name="deposit_reference" value="{{ i.with_deposit }}">
                                            <button type="submit" class=""><i class="fa-regular fa-file"></i> Afficher le bon</button>
                                        </form>
                                    {% endif %}
                                {% else %}
                                    <a data-target="add_deposit" data-toggle="modal" href="#"><i class="fa-regular fa-file"></i> Bon de dépôt</a>
                                {% endif %}
                            </li>
                            <li><a href="#"><i class="fa-regular fa-file-pdf"></i> Vers PDF</a></li>
                            <li><a href="#" data-target="delete_intervention" data-toggle="modal" class="text-delete"><i class="fa-solid fa-trash-can"></i> Supprimer</a></li>

                        </ul>
                    </div>
                </div>
            </div>
            {{ include('backoffice/intervention/_modal/_delete.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/assets/js/functions.interventions.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script>
        $(document).ready(function() {
            $('#form_tasks-tasks').select2();
        });
    </script>
    <script>
        let button = document.getElementById('btn-tools')
        let navTools = document.querySelector('.nav-tools')
        button.addEventListener('click', function (e) {
            document.querySelector('.overlay').style.display = document.querySelector('.overlay').style.display === 'block' ? '' : 'block';
            navTools.classList.toggle('deployed');
        });
    </script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script>
        tippy('[data-tippy-content]');
    </script>
{% endblock %}