<!DOCTYPE html>
<html lang="en" data-sidebar-width="lg" data-sidebar-mobile="inactive" data-layout-mode="default">
<head>
    <meta name="robots" content="noindex, nofollow">
    <meta charset="UTF-8">
    <title>Proaxive - {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta content="Proaxive by SelMaK" name="author">
    {% block stylesheets %}{% endblock %}
    <!-- START::GridLex Local -->
    <link rel="stylesheet" href="{{ get_env('PATH_PUBLIC') }}/assets/frameworks/gridlex/gridlex.min.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- START::REMIXICON -->
    <link href="{{ get_env('PATH_PUBLIC') }}/assets/fonts/remixIcon/remixicon.css" rel="stylesheet">
    <!-- SimpleBar-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css"
    />
    <!-- START::CSS App -->
    <link rel="stylesheet" href="{{ get_env('PATH_PUBLIC') }}/assets/stylesheets/app.css">
    <link rel="stylesheet" href="{{ get_env('PATH_PUBLIC') }}/assets/stylesheets/utilities.css">
    <!-- START::Print -->
    <link rel="stylesheet" href="{{ get_env('PATH_PUBLIC') }}/assets/stylesheets/print.css" type="text/css" media="print">
    <noscript>
        <style>
            /**
            * Reinstate scrolling for non-JS clients
            */
            .simplebar-content-wrapper {
                overflow: auto;
            }
        </style>
    </noscript>
</head>
<body id="body-wrapper" class="style-2">
<div class="overlay"></div>
<div class="layout-wrapper">
    <aside class="sk-menu aside-menu" data-simplebar>
        <div class="aside-logo text-center">
            <div class="flex align-items-center justify-content-center">
                <div><a href="/admin"><img class="v-middle" style="height: 40px; width: auto" src="{{ get_env('PATH_PUBLIC') }}/img/logos/logo_proaxive2_white.png" alt=""></a></div>
                <div class="app-title ml-2"><span class="fs-24px fw-600">Proaxive</span><span class="text-one fs-13px">Alpha</span></div>
            </div>
        </div>
        <ul class="aside-navigation mt-4" data-simplebar>
            <li class="item-nav {% if currentMenu is defined and currentMenu == 'home' %}current{% endif %}">
                <a href="{{ url_for('dash_home') }}" title="Accueil"><span class="icon"><i class="ri-home-2-line"></i></span> <span class="title">Accueil</span></a>
            </li>
            <li class="item-nav dropdown {% if currentMenu is defined and currentMenu == 'customer' %}current{% endif %}">
                <a href="#" title="Gestion des clients"><span class="icon"><i class="ri-user-line"></i></span> <span class="title">Clients <span class="right-icon"><i class="fa-solid fa-caret-right"></i></span> </span></a>
                <div class="submenu-dropdown {% if currentMenu is defined and currentMenu == 'customer' %}open{% endif %}">
                    <ul class="dropdown-navigation">
                        <li>
                            <a href="{{ url_for('dash_customer') }}">
                                <span>Liste des clients</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('customer_create_particular') }}">
                                <span>Créer un client</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="item-nav dropdown {% if currentMenu is defined and (currentMenu == 'workshop' or currentMenu == 'user') %}current{% endif %}">
                <a href="#" title="Gestion des clients"><span class="icon"><i class="ri-building-fill"></i></span> <span class="title">Magasins/Ateliers <span class="right-icon"><i class="fa-solid fa-caret-right"></i></span> </span></a>
                <div class="submenu-dropdown {% if currentMenu is defined and (currentMenu == 'workshop' or currentMenu == 'user') %}open{% endif %}">
                    <ul class="dropdown-navigation">
                        <li>
                            <a href="{{ url_for('dash_workshop') }}">
                                <span>Liste des magasins/ateliers</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('workshop_create') }}">
                                <span>Créer un magasin/atelier</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('dash_user') }}">
                                <span>Gestion des employé(e)s</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="item-nav dropdown {% if currentMenu is defined and currentMenu == 'intervention' %}current{% endif %}">
                <a href="#" title="Gestion des interventions"><span class="icon"><i class="ri-list-check-2"></i></span> <span class="title">Interventions <span class="right-icon"><i class="fa-solid fa-caret-right"></i></span></span></a>
                <div class="submenu-dropdown {% if currentMenu is defined and currentMenu == 'intervention' %}open{% endif %}">
                    <ul class="dropdown-navigation">
                        <li>
                            <a href="{{ url_for('dash_intervention') }}">
                                <span>Liste des interventions</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('intervention_create_index') }}">
                                <span>Créer une intervention</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="item-nav dropdown {% if currentMenu is defined and currentMenu == 'equipment' %}current{% endif %}">
                <a href="#" title="Gestion des équipements"><span class="icon"><i class="ri-computer-line"></i></span> <span class="title">Equipements <span class="right-icon"><i class="fa-solid fa-caret-right"></i></span></span></a>
                <div class="submenu-dropdown {% if currentMenu is defined and currentMenu == 'equipment' %}open{% endif %}">
                    <ul class="dropdown-navigation">
                        <li>
                            <a href="{{ url_for('dash_equipment') }}">
                                <span>Liste des équipements</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('equipment_create') }}">
                                <span>Créer un Ordinateur/Smartphone</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('equipment_create_device') }}">
                                <span>Créer un périphérique</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="item-nav dropdown">
                <a href="#" title="Gestion des débours"><span class="icon"><i class="ri-service-line"></i></span> <span class="title">Débours (WIP) <span class="right-icon"><i class="fa-solid fa-caret-right"></i></span></span></a>
                <div class="submenu-dropdown">
                    <ul class="dropdown-navigation">
                        <li>
                            <a href="#">
                                <span>Liste des débours</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Créer un débours</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="item-nav">
                <a href="#" title="Gestion des documents"><span class="icon"><i class="ri-briefcase-line"></i></span> <span class="title">E-Document</span></a>
            </li>
            <li class="item-nav">
                <a href="#" title="Gestion des rendez-vous"><span class="icon"><i class="ri-calendar-line"></i></span> <span class="title">Calendrier</span></a>
            </li>
            <li class="title-navigation"><span class="item-title d-block">Administration</span></li>
            <li class="item-nav {% if currentMenu is defined and currentMenu == 'settings' %}current{% endif %}">
                <a href="{{ url_for('settings_preference') }}" title="Paramètres de l'application"><span class="icon"><i class="ri-settings-4-line"></i></span> <span class="title">Paramètres Généraux</span></a>
            </li>
            <li class="item-nav dropdown">
                <a href="#" title="Gestion des notes interne"><span class="icon"><i class="ri-sticky-note-line"></i></span> <span class="title">Notes interne (WIP) <span class="right-icon"><i class="fa-solid fa-caret-right"></i></span></span></a>
                <div class="submenu-dropdown">
                    <ul class="dropdown-navigation">
                        <li>
                            <a href="#">
                                <span>Notes enregistrées</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Créer une note</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </aside>
    <header class="sk-main-topbar">
        <div class="sk-tools-topbar flex-root">
            <div class="flex-root">
                <div class="flex align-items-center">
                    <div class="d-desktop">
                        <span onclick="toggleSidebarStatus()" id="aside-btn" class="d-block btn-aside"><i class="fs-22px ri-menu-fold-line"></i></span>
                    </div>
                    <div class="d-mobile">
                        <span class="d-block btn-aside aside-deploy ml-3"><i class="fs-22px ri-menu-line"></i></span>
                    </div>
                    <div class="flex-root">
                        {% if toolbar_tool is not defined%}
                            <div class="form-group m-0">
                                <input type="text" class="form-input rd-2 ml-4" name="search" style="width: 60%" placeholder="Rechercher dans Proaxive...">
                            </div>
                        {% else %}
                            {% block toolbar %}{% endblock %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="user-tools">
                <ul class="right-navbar">
                    <li class="a-button d-desktop"><a class="btn-bar btn-inverse-one" href="#"><i class="ri-question-line"></i> Support</a></li>
                    <li class="btn-button"><button type="button" onclick="toggleTheme()"><i class="ri-sun-fill"></i></button></li>
                    <li class="btn-button"><a title="Accueil de Proaxive" href="{{ url_for('app_home') }}" target="_blank"><i class="ri-global-fill"></i></a></li>
                    <li class="profil-item ml-6">
                        <span class="profil-icon d-block mr-2 fs-12px text-one">{{ getSession.get('auth').roles }}</span>
                        <div class="profil-body">
                            <span class="fw-500">{{ getSession.get('auth').fullname }}</span>
                        </div>
                    </li>
                    <li class="ml-2 dropdown dropdown-profil">
                        <a href="#" id="btn-dropdown"><i class="ri-more-2-fill"></i></a>
                        <ul class="dropdown-submenu">
                            <li><a href="#">Modifier mon compte</a></li>
                            <li><a href="{{ url_for('auth_user_logout') }}" class="logout"><i class="fa-solid fa-right-from-bracket"></i> Se déconnecter</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <main class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <div class="breadcrumbs-wrapper">
                    <div class="page-title">
                        <h3>{{ block('title') }}</h3>
                    </div>
                    {% if breadcrumbs is defined and breadcrumbs is not null %}
                        <div class="sk-breadcrumb">{{ breadcrumbs | raw }}</div>
                    {% endif %}
                </div>
                {% block body %}{% endblock %}
                {% if layout_aside is defined %}
                    <div class="aside aside-right">
                        <button type="button" class="aside-btn"><i class="ri-settings-4-fill fs-20px"></i></button>
                        <div class="p-4">
                            {% block aside %}{% endblock %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </main>
</div>
<!-- LOADER -->
<div id="loader" class="preloader" style="display:none;">
    <div class="title--preloader">
        <div class="flex justify-content-center align-items-center h100">
            <div>
                <span class="loader"></span>
                <strong>Mise à jour des données, </strong><span class="text-pink">veuillez patientez ...</span>
            </div>
        </div>
    </div>
</div>
{% block javascripts %}{% endblock %}
<script src="{{ get_env('PATH_PUBLIC') }}/assets/js/setting.theme.js"></script>
<script src="{{ get_env('PATH_PUBLIC') }}/assets/js/p2.app.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.js"></script>
{{ include('backoffice/_session_flash.html.twig') }}
</body>
</html>