{% extends 'backoffice/base.html.twig' %}

{% block title %}Panel d'administration de Proaxive{% endblock %}

{% block body %}
    <div class="grid-12">
        <div class="col-9_sm-12">
            <div class="grid-12">
                <div class="col-8_sm-12">
                    <div class="card">
                        <div class="card-body p-4">
                            <h3>Statistique {{ 'now'|date('Y') }}</h3>
                        </div>
                        <div id="chart">
                        </div>
                        <div class="p-4 border-top">
                            <div class="grid-12">
                                <div class="col-3_sm-12 text-center">
                                    <p class="p-0 m-0 fs-18px fw-500">{{ totalCustomers }}</p>
                                    <span class="d-block mb-2 text-muted">Nouveaux clients</span>

                                </div>
                                <div class="col-3_sm-12 text-center">
                                    <p class="p-0 m-0 fs-18px fw-500">0</p>
                                    <span class="d-block mb-2 text-muted">Intervention(s) terminée(s)</span>
                                </div>
                                <div class="col-3_sm-12 text-center">
                                    <p class="p-0 m-0 fs-18px fw-500">{{ totalInterventions }}</p>
                                    <span class="d-block mb-2 text-muted">D'heure(s) travaillée(s)</span>
                                </div>
                                <div class="col-3_sm-12 text-center">
                                    <p class="p-0 m-0 fs-18px fw-500">0</p>
                                    <span class="d-block mb-2 text-muted">Revenue estimé</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4_sm-12">
                    <div class="card">
                        <div class="card-body p-4">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3_sm-12">
            <div class="card">
                <div class="card-body p-4">
                    <h4>Estimation du chiffre d'affaire</h4>
                    <span class="text-center fw-500 fs-32px d-block">25,568.00€</span>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-12">
        <div class="col-4_sm-12">
            {% if customers is not empty %}
                <div class="card mt-4">
                    <h3 class="pt-4 pr-4 pl-4">Clients récents</h3>
                    <div class="card-body customers p-4">
                        <div class="list-group">
                            {% for c in customers %}
                                <a href="{{ url_for('customer_read', {id: c.id}) }}">
                                    <div class="list-group-item">
                                        <div class="flex">
                                            <span class="d-block mr-3"><i class="fs-28px ri-{% if c.is_society is not null %}building{% else %}user-2{% endif %}-fill"></i></span>
                                            <div class="media-body">
                                                <div class="flex align-items-center">
                                                    <div class="m-0">
                                                        <h5 class="fw-500 fs-14px mb-0">{{ c.fullname }}</h5>
                                                        <p class="m-0 fs-13px">{{ c.city }} ({{ c.department }})</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-8_sm-12">
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}