{% extends 'backoffice/base.html.twig' %}

{% block title %}Panel d'administration de Proaxive{% endblock %}

{% block body %}
    <div class="grid-12">
        <div class="col-5_sm-12">
            <div class="card">
                <div class="p-4">
                    <h2 class="text-truncate fs-28px fw-500 mb-1">Bonjour, {{ getSession.get('auth').fullname }}</h2>
                    <p class="text-muted fs-16px mt-0">Bienvenue sur Proaxive 2
                        <br> **</p>
                    <a class="btn btn-sk-one mt-6" href="#">Documentations</a>
                </div>
            </div>
        </div>
        <div class="col-3_sm-12">
            <div class="card">
                <div class="card-header p-3">
                    <h2>Estimation CA</h2>
                </div>
                <div class="card-body">
                    <p class="text-muted m-0">Estimation pour l'année {{ 'now' | date('Y') }}</p>
                    <span class="text-center fw-500 fs-32px d-block">25,568.00€</span>
                </div>
            </div>
        </div>
        <div class="col-4_sm-12">
            <div class="card">
                <div class="card-header p-3">
                    <h2>Interventions</h2>
                </div>
                <div class="card-body p-4">
                    <div class="grid-2">
                        <div class="col-5_sm-12 text-center">
                            <canvas id="myChart" style="position: relative; height:100px; width:100%"></canvas>
                        </div>
                        <div class="col-7_sm-12 dashboard-overview">
                            <div class="dashboard-overview_item">
                                <div>
                                    <span class="bg-pink"></span>
                                </div>
                                <div class="flex-root"><h6>Non démarrées</h6></div>
                                <span id="count_not_start"></span>
                            </div>
                            <div class="dashboard-overview_item">
                                <div>
                                    <span style="background-color:#48A3D7;"></span>
                                </div>
                                <div class="flex-root"><h6>En atelier</h6></div>
                                <span id="count_work"></span>
                            </div>
                            <div class="dashboard-overview_item">
                                <div>
                                    <span style="background-color:#c95e9e;"></span>
                                </div>
                                <div class="flex-root"><h6>Tests finaux</h6></div>
                                <span id="count_final"></span>
                            </div>
                            <div class="dashboard-overview_item">
                                <div>
                                    <span style="background-color: #fa896b;"></span>
                                </div>
                                <div class="flex-root"><h6>En cours de sortie</h6></div>
                                <span id="count_exit"></span>
                            </div>
                            <div class="text-center mt-4 fs-18px">
                                <strong id="count_total"></strong> Intervention(s) en cours.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-12">
        <div class="col-7_sm-12">
            {% if interventions is not empty %}
                <div class="card mt-4">
                    <div class="card-header p-3">
                        <h2>Dernières interventions</h2>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table table-default table-card">
                                <thead>
                                    <tr>
                                        <th>Référence</th>
                                        <th>Client</th>
                                        <th>Date</th>
                                        <th>Statut</th>
                                        <th>Etat</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for i in interventions %}
                                    <tr>
                                        <td><a href="{{ url_for('intervention_read', {id:i.id}) }}">{{ i.ref_number }}</a></td>
                                        <td>{{ i.customer_name }}</td>
                                        <td>{{ i.created_at | date('d.M.Y') }}</td>
                                        <td>{{ getDataState(i.state) }}</td>
                                        <td>{{ getDataWayStepsStatus(i.way_steps) }}</td>
                                        <td></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-4_sm-12">
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/assets/js/chartjs/chart.min.js"></script>
    <script type="text/javascript" src="/assets/js/charts-data/dash.home.js"></script>
    <script>
        dashHomeStatIntervention();
    </script>
{% endblock %}