<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>start</title>
    <style>
        body{
            background-color:#f8f8f8;
            color:#526484;
            /* Font default for Windows, Linux, MacOS */
            font-family: Arial, Monospace, SF Pro, sans-serif;
            padding:0;
            margin:0;
        }
        .all-border{
            border:1px solid rgba(109, 153, 197, 0.2);
        }
        .w100{
            width:100%;
        }
        .align-center{
            text-align: center;
        }
        .center{
            margin-left: auto;
            margin-right: auto;
        }
        .card{
            position:relative;
            background-color:white;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
        }
        .pt-10px{
            padding-top:10px;
        }
        .pt-20px{
            padding-top:20px;
        }
        .pb-10px{
            padding-bottom:10px;
        }
        .ptpb-10px{
            padding:10px 0;
        }
        h3.title{
            font-weight: 400;
            font-size:28px;
            margin-bottom:25px;
            margin-top:10px;
        }
        .block{
            display:block;
        }
        .box-code{
            display: inline-block;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
            background: rgba(115, 102, 255, 0.15);
            padding: 10px 20px;
            letter-spacing: 3px;
            font-weight: 600;
            font-size: 18px;
        }
        .pink{
            color:#f73164;
        }
        .purple{
            color:#8f85ff;
        }
        .blue{
            color:#31daf7;
        }
        .text-uppercase{
            text-transform: uppercase;
        }
        a{
            text-decoration:none;
        }
    </style>
</head>
<body>
<table class="center" style="width:960px;background-color:white;padding-bottom:35px">
    <tbody>
    <tr>
        <td>
            <table class="w100">
                <tr>
                    <td class="align-center" style="padding-top:15px;">
                        <img style="height: 150px;width:auto;" src="https://proaxive.fr/assets/logo-beta_300.png" alt="">
                        <h3 class="ptpb-10px title">Intervention terminée.</h3>
                    </td>
                </tr>
            </table>
            <div class="card center all-border" style="width:60%">
                <div class="card-body" style="padding:20px;">
                    <strong>Bonjour {{ data.customer_name }}</strong>
                    <div class="pt-10px">
                        <span class="block">Votre produit est parvenu dans notre atelier le {{ data.deposit_date | format_date('none', 'EEEE d MMM Y', null, 'gregorian', 'fr') }}. Nous vous informerons par courriel lorsque la réparation sera achevée.</span>
                        <div class="pt-20px">
                            <div class="block">
                                <strong>Produit : </strong><span class="text-uppercase">{{ data.equipment_name }}</span>
                            </div>
                            <div class="block pt-10px">
                                <strong>N° d'intervention : </strong><span class="text-uppercase">{{ data.ref_number }}</span>
                            </div>
                        </div>
                        <div class="pt-20px">
                            Vous pouvez également suivre l'avancement de la réparation en vous randant sur la page de
                            <a href="https://{{ settings.app.domainUrl }}/i/{{ data.ref_for_link }}" class="purple">Suivi d'une intervention</a> ou via votre espace client.
                        </div>
                        <div class="pt-20px">
                            En vous remerciant,<br>
                            L'équipe {{ get_env('BUSINESS_NAME') }}
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<table class="center" style="width:960px;background-color:#f1f0f0;">
    <tr>
        <td>
            <div style="padding:20px;">
                <p class="align-center">
                    Ce courriel est automatique, merci de ne pas y répondre. <br>
                    <a href="https://{{ settings.app.domainUrl }}/wxy/customers/login" class="purple">Votre espace client</a>
                </p>
            </div>
        </td>
    </tr>
</table>
</body>
</html>