{% extends 'backoffice/base.html.twig' %}

{% block title %}Bon de dépôt n°{{ d.reference }}{% endblock %}

{% block body %}
<div class="grid-12">
    <div class="col-9_sm-12">
        <div class="card">
            <div class="card-body p-4">
                <div class="mb-3">
                    <a href="{{ url_for('intervention_read', {id:d.interventions_id}) }}" class="btn btn-light-info">Retour à l'intervention</a>
                    <form class="d-inline-block" method="post" action="{{ url_for('deposit_send_pdf', {id:d.id}) }}">
                    <button type="submit" class="btn btn-light-green">Envoyer par courriel</button>
                    </form>
                </div>
                {% if is_signed %}
                    <object data="{{ url_for('deposit_read_pdf', {reference:d.reference}) }}?is_signed=1" type="application/pdf" height="100%" style="width: 100%;height: 700px"></object>
                {% else %}
                    <object data="{{ url_for('deposit_read_pdf', {reference:d.reference}) }}" type="application/pdf" height="100%" style="width: 100%;height: 700px"></object>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}