<div class="modal" id="add_equipment">
    <div class="modal-container">
        <div class="modal-header">
            <h1>Nouvel équipement</h1>
        </div>
        {{ formEquipment.renderStart | raw }}
            <div class="modal-content">
                <div class="mb-4">
                    Vous êtes sur le point de créer une nouvel équipement. Merci de renseigner les champs ci-dessous.
                    <br>
                    Vous pourrez compléter ses informations par la suite.
                </div>
                <div class="grid-2 mt-5">
                    <div class="col">
                        <input type="hidden" name="form_equipment[customers_id]" value="{{ i.customers_id }}">
                        {{ formEquipment.renderField('name') | raw }}
                        {{ formEquipment.renderField('e_serial') | raw }}
                    </div>
                    <div class="col">
                        {{ formEquipment.renderField('types_equipments_id') | raw }}
                        {{ formEquipment.renderField('brands_id') | raw }}
                    </div>
                </div>

            </div>
            <div class="modal-footer text-right">
                <button type="submit" id="submit_add" class="btn btn-light-four">Mettre à jour maintenant</button>
                <button data-dismiss="modal" class="modal__close btn btn-light-pink">Annuler</button>
            </div>
            {{ formEquipment.renderEnd(false) | raw }}
    </div>
</div>